[2018-01-11 22:32] #606 closed

[2018-01-11 22:37] louh commented on #750
Thanks for clarifying, @PhilippeProvost. I think for your use case, we want to be able to have an option to show curb edges automatically when a raised curb segment meets a lower elevation segment. Drawing curb edges manually seems like extra work that manually creating 200mm segments for would only be a temporary fix. In addition, it's really hard to have usable segments in the UI when it's that

[2018-01-11 22:37] #750 closed

[2018-01-11 23:05] #602 closed

[2018-01-11 23:15] louh opened #767 "Migrate street sky background to React"
These lines:

https://github.com/streetmix/streetmix/blob/master/assets/scripts/app/MiscHTMLStuff.jsx#L30-L33

[code]

They're expressed in JSX but was ported from normal HTML first. Functionality that's attached to these elements are being added dynamically in vanilla JS but outside of the React lifecycle. To make the port, look through the rest of the code to see what attaches to / modifies thes

[2018-01-11 23:17] louh opened #768 "Migrate street scroll buttons to React component"
These lines:

https://github.com/streetmix/streetmix/blob/master/assets/scripts/app/MiscHTMLStuff.jsx#L34-L35

[code]

They're expressed in JSX but was ported from normal HTML first. Functionality that's attached to these elements are being added dynamically in vanilla JS but outside of the React lifecycle. To make the port, look through the rest of the code to see what attaches to / modifies thes

[2018-01-12 06:31] ryross commented on #767
Oh crap. Didn't refresh the page before assigning myself. Should have known. I'm going to push up a bunch of what I have on a separate branch for now. Feel free to use it or not

[2018-01-12 06:36] ryross commented on #767
@mkong0216 Feel free to take this over if you want.

[2018-01-12 14:18] louh commented on #767
Thanks for starting it anyway @ryross, I'll assign a different one to you!

[2018-01-12 14:19] louh opened #769 "Migrate BlockingError functionality to React/Redux"
This component is just JSX being inserted, while the interaction is still done outside the React lifecycle:

https://github.com/streetmix/streetmix/blob/master/assets/scripts/app/BlockingError.jsx

[2018-01-12 15:23] ryross commented on #767
Thanks @louh. Heads up @mkong0216, you might want to revert a bunch of my changes and reduce the scope of the branch to just what's defined in this ticket. Drag/Drop broke, and there are some other positioning bugs still

[2018-01-12 20:27] mkong0216 commented on #767
Okay thanks for the heads up @ryross

[2018-01-12 20:38] mkong0216 commented on #768
@louh Sorry just to double check, do you want me to create a new React component for the `street-scroll-indicators` or just add the functionality to the `MiscHTMLStuff` React component.

[2018-01-12 21:00] louh commented on #768
It should be a new React component, and import that into MiscHTMLStuff. Eventually we want to migrate everything out of MiscHTMLStuff so that we can remove the intermediate component.

[2018-01-12 21:02] mkong0216 commented on #768
Got it, thanks!

[2018-01-14 02:02] ryross commented on #769
I haven't tested the hideError action. It's interesting that the hideError function is only called when a street is loaded from the gallery: https://github.com/streetmix/streetmix/blob/2a73c293ced8d542fdce1340e0e261b8aee039e1/assets/scripts/gallery/fetch_street.js#L58

Have any idea why that is?

[2018-01-14 02:02] #758 closed

[2018-01-14 03:37] louh commented on #769
If memory serves -- usually when an error happens, it's not recoverable, and the only way out of it is to reload the page (possibly at a different URL). There's only one `hideError()` because there's only one case in which an error message is recoverable: it's when you open the gallery, select a street, and then delete that street by clicking the X on the upper right of its thumbnail. Since the st

[2018-01-14 21:55] louh opened #773 "Use Mapbox GL JS and Mapbox Outdoors base map in the Geolocation component"
Swap out the current basemap in the Geolocation feature to use Mapbox GL JS.

## Background

When we first designed the geolocation component, to keep things simple we used the `react-leaflet` library (a React abstraction library around [Leaflet](leafletjs.com)) and [Carto's basemap](https://carto.com/location-data-services/basemaps/). We are considering using Mapbox's library and base map instead

[2018-01-15 17:51] louh opened #776 "Fix shift+arrow key not jumping to edges of street"

[2018-01-19 01:15] #769 closed

[2018-01-19 23:00] louh opened #778 "Update Dialogs so that a dialog box catches React errors and renders an error state"

[2018-01-21 21:54] louh opened #781 "Replace Mapzen Search with geocode.earth"
Now that [Mapzen Search is shutting down](https://mapzen.com/blog/shutdown/), we need a replacement. The best drop-in option is likely to be [geocode.earth](https://geocode.earth/) because it's by the same team. When we're signed up there, we only need to update:

1. the hostname
2. the API key

It is possible that under a new pricing scheme we will need to pay a monthly subscription fee, but for

[2018-01-21 21:58] louh opened #782 "Add a confirmation button to GeolocateDialog."
- When a user has selected a location on the map, display a confirm button.
- Clicking this confirm button closes the dialog.
- When confirmed, we must remember data about what location was chosen.

---

EDIT: The todo-items have been moved/consolidated here https://github.com/streetmix/streetmix/projects/8

[2018-01-21 21:58] louh commented on #739
👍

[2018-01-21 21:58] #739 closed

[2018-01-21 21:59] louh commented on #738
All done.

[2018-01-21 21:59] #738 closed

[2018-01-21 21:59] #740 closed

[2018-01-21 22:02] louh commented on #751
I'm on Windows 10, Firefox 57, and it looks fine to me.

![screenshot 2018-01-21 17 01 42](https://user-images.githubusercontent.com/2553268/35199506-cbde20a8-fecc-11e7-9fd9-f93d6e400abb.png)

@PhilippeProvost do you have another browser on your machine? Does it do the same in all browsers on your system or just Firefox? What version of Firefox do you have? If it hasn't been updated in a while, do

[2018-01-21 22:06] louh commented on #749
This is a duplicate of #541.

[2018-01-21 22:06] #749 closed

[2018-01-21 22:39] louh commented on #541
Just a quick update for everyone: we are doing some behind the scenes work that will be a huge step forward in being able to make these kinds of additions _easier_ in the future. I expect that sidewalk-level raised bike lanes is something we can add soon, since it will achieve a huge milestone for the community. We should be able to do this in a couple of weeks, if all goes well. Fingers crossed!

[2018-01-21 23:58] louh commented on #773
Since I just found https://carto.com/blog/new-voyager-basemap/ and updated our base map to try this new map layer out, the cost-benefit ratio has shifted a bit, so I propose putting this off unto a lower priority tier.

[2018-01-22 02:16] treyhahn commented on #541
Awesome! Wooo!!!!! It will be a big and very visible addition.

[2018-01-22 02:16] treyhahn commented on #541
I'm sure some users will notice it.

[2018-01-22 02:21] treyhahn commented on #782
I second this, I think it's more intuitive this way.

[2018-01-22 02:25] treyhahn commented on #751
Works fine for me on Chrome 63 Mac OS High Sierra 10.13
![image](https://user-images.githubusercontent.com/12552044/35202606-a9c2ae60-fef1-11e7-82c5-e90a8aa6ebbd.png)

[2018-01-22 02:26] treyhahn commented on #751
@PhilippeProvost can you try viewing my same street on your computer? https://streetmix.net/-/630756

[2018-01-22 02:30] treyhahn commented on #773
Makes sense. Is https://carto.com/blog/new-voyager-basemap/ faster loading then our old one too? That alone is a huge plus.

[2018-01-22 16:03] louh commented on #773
It might be -- it's a different server, and it's the one Carto is using officially, so it might have better caching / response times.

[2018-01-23 08:00] louh commented on #499
Doesn't seem to be a problem anymore, so we must have inavertently fixed it!

[2018-01-24 05:40] louh opened #785 "Build file watchers in development mode for JS/CSS"
After today's slightly failed attempt at swapping in `nodemon` for `supervisor` (because it has a high miss rate on watching for changed files) I think we can forget that, and instead consider a possibly better solution:

Instead of restarting the server whenever _client-side_ JS and CSS are modified, why don't we leave the server up, and rebuild the file that gets served instead? That way a reloa

[2018-01-24 14:50] louh opened #786 "Port `resizeStreetWidth` function to update via changes to props/Redux store"

[2018-01-24 20:03] #768 closed

[2018-01-24 23:27] louh commented on #781
Got the API key from Julian today, went ahead and did a trial run of it! Looks good and we are ready for Mapzen shut-off next week...

[2018-01-25 05:28] PhilippeProvost commented on #751
Something must've changed since i've posted the issue, because i've tested it on IE, Chrome and Firefox and there's no more issue ! I guess this one solved itself.

[2018-01-25 05:30] louh commented on #751
AMAZING. I'll close this now 😸

Feel free to re-open if the problem returns!

[2018-01-25 22:27] louh commented on #767
Closed https://github.com/streetmix/streetmix/pull/780

[2018-01-25 22:27] #767 closed

[2018-01-25 22:30] louh commented on #782
@mkong0216 I'll be splitting up the "separate issue" bullet points into individual cards here: https://github.com/streetmix/streetmix/projects/8

[2018-01-25 22:44] louh opened #788 "When location is picked, save data to the street"
Location data is remembered on a per-street basis. When a street is forked, the location data is copied as well.

Location data should include, at minimum, the following items:

- the original clicked lat/lng or text input / search query from the user
- from a selected location: the lat/lng of a point, address label (if any), street name, location hierarchy (neighborhood, city/locality, state/prov

[2018-01-25 22:48] louh opened #789 "Map does not reliably pan a point to the center"
When selecting a location from search dropdown, the map does not always reliably pan the point to the center of the map.

[2018-01-27 17:10] #781 closed

[2018-01-29 22:31] louh opened #791 "Auto-purge stylesheet cache in Cloudflare after Heroku deployment"
Cloudflare doesn't know when Heroku is redeployed, and static stylesheets are cached.

1. When Heroku does a successful deploy, [use a deploy hook](https://devcenter.heroku.com/articles/deploy-hooks#http-post-hook) to send a payload over HTTP to some URL
2. The URL receives the payload and makes [a request to purge the CSS file](https://api.cloudflare.com/#zone-purge-individual-files-by-url) on Cl

[2018-02-01 15:02] #594 closed

[2018-02-01 20:35] louh opened #793 "Mailing list signup form"
I'm working on a mailing list and populating it with a small list of existing supporters. But we should also include some way of opting into a mailing list for people who want to stay on top of Streetmix news and happenings in their mailbox. I was thinking of a popup embeddable form, like this:

![image](https://user-images.githubusercontent.com/2553268/35701080-e3644dbc-0762-11e8-858d-e9d4d4c1f50

[2018-02-12 14:26] louh commented on #751
Still seems to exist on Windows 10, Chrome.

Related to the Roadgeek font?
![screenshot 2018-02-12 09 22 50](https://user-images.githubusercontent.com/2553268/36101178-96b7be0a-0fd6-11e8-9c59-37e77fc2d461.png)

The space goes away when we use a different font.
![screenshot 2018-02-12 09 23 54](https://user-images.githubusercontent.com/2553268/36101179-96c36dc2-0fd6-11e8-9566-f322ccfb641b.png)

Str

[2018-02-13 08:55] davidbourguignon opened #797 "Using Streetmix aboveground and underground"
Dear all,

we are about to design proposals for a street refurbishing in a month, and it struck me that it is not currently possible in Streetmix to take into account the underground clutter, for example the space available between a sewer pipe and a hot steam pipe.

IMHO this would be of great use to help designers of above ground installations to take into account what space is available below g

[2018-02-13 13:56] hemant1612 commented on #778
Does it need to pass error from state to, the Dialog component.If not , please provide starting pointers to get started.

[2018-02-13 14:00] louh commented on #797
Hi @davidbourguignon, thanks for the feedback and the suggestion. We've received requests like this in the past, primarily from civil engineers, so it's something we'd like to explore. But given our current backlog, I'm afraid we're not likely to tackle this one anytime soon.

I have a couple of questions to help us think through the problem in the future:

1. Where does data about underground uti

[2018-02-14 16:35] louh opened #798 "User should be able to clear a location"

[2018-02-14 16:58] louh opened #799 "Remove global `street` variable"

[2018-02-14 19:49] louh opened #800 "Changing building heights will break the undo/redo sequence"
It's because of the Redux subscriber that updates both the redux store and global `street` object when the building heights change. It creates a new undo each time the building heights change, even when the change is the result of a undo / redo action.

Ideally this bug goes away once #799 is complete and the redux subscriber no longer exists.

[2018-02-15 19:52] #782 closed

[2018-02-15 19:52] #788 closed

[2018-02-15 22:22] louh opened #802 "Handle errors (xhr failures for example) when fetching gallery street"
Currently the error handler is a no-op with a console.log

[2018-02-18 10:52] digi0ps commented on #298
@treyhahn I'm willing to work on this. Can you guide me to the code?

[2018-02-18 16:13] Ayush-Rawal commented on #203
@louh I would like to work on this, is this up for grabs?

[2018-02-18 16:40] louh commented on #203
Hi @Ayush-Rawal!

Yes, absolutely. Please keep in mind that we are not requiring PRs as a condition of the Google Summer of Code application, but we would love to help you make your first contribution to Streetmix anyway.

Let me know (here or in Slack) if there's anything you need to get started.

[2018-02-18 16:44] louh commented on #298
Hi @digi0ps!

Please keep in mind that we are not requiring PRs as a condition of the Google Summer of Code application, but we would love to help you make your first contribution to Streetmix anyway.

This is actually a bit of a thornier problem than expected because the loading process must be upgraded to use Promises (or async/await) instead of the checks we are currently using: https://github.

[2018-02-18 22:10] #778 closed

[2018-02-19 06:18] louh opened #805 "Update skin tones with colors corresponding to the Fitzpatrick scale"
Here's our palette: https://streetmix.readme.io/docs/illustrations#section-palette

We have four skin tones, but the [Fitzpatrick Scale](https://en.wikipedia.org/wiki/Fitzpatrick_scale) (used for emoji skin tones) has six. (This is the [reference](https://www.arpansa.gov.au/sites/g/files/net3086/f/legacy/pubs/RadiationProtection/FitzpatrickSkinType.pdf) used by the current (as of this writing) ver

[2018-02-20 16:45] louh opened #806 "Add font loading detection to the loading process"

[2018-02-20 17:04] louh opened #807 "Fix street extents being cut off on left or overflowing ground space at right when too many segments don't fit"
To observe the bug, add or expand segments until the total width of all segments exceed both (1) the width of the browser viewport and (2) the width of the street by at least 17.7m. This results in two unexpected behaviors:

1. Attempt to scroll to the left. The segments cannot be scrolled into the viewport. A fix would allow the segments to scroll into view.
2. Now scroll all the way to the right

[2018-02-20 17:05] louh opened #808 "Port blocking shield errors to React (or combine with existing error component)"

[2018-02-20 23:42] flickz commented on #807
@louh Can I get a brief description  of the problem?

[2018-02-21 04:17] #776 closed

[2018-02-21 04:33] louh opened #811 "Use immutable update helpers when creating new entries in Redux"
We don't do a good job of this, using shallow copy `Object.assign()` in situations when we should be doing a deep-copy of objects. (However, force-deep-cloning is [expensive and unnecessary](https://redux.js.org/faq/performance#do-i-have-to-deep-clone-my-state-in-a-reducer-isn't-copying-my-state-going-to-be-slow).) We should look at adopting common patterns for making updates to deeply nested obje

[2018-02-21 05:13] louh commented on #807
@flickz I've updated the top comment with more information.

[2018-02-21 12:29] flickz commented on #807
Alright. Thanks. Taking this on

[2018-02-21 18:06] #798 closed

[2018-02-22 13:37] flickz commented on #807
@louh So I think figured out the reason for this

The ```scrollPos``` state only gets updated when either the of the ```ScrollIndicators``` is clicked or key presses. Instead  ```infoBubble``` should be able to dispatch action to change ```scrollPos``` state when segment states are updated.

```scrollPos``` state is not managed by Redux currently only the ```StreetView``` component manages it. I'm

[2018-02-22 16:49] louh commented on #276
Oh hey, this issue is still open!

Thanks to work this past summer by @rethrashed (with supervision from @bdon and @hampelm), and follow up work by @mkong0216 these past few weeks, we quietly launched to production precisely this thing from @mwichary's comment:

We are going to use this to help populate [the gallery of famous streets from around the world](https://github.com/streetmix/streetmix/is

[2018-02-22 17:04] louh opened #813 "Map of all streets with location data."
Streetmix is proud to be featured at [NYC School of Data](https://schoolofdata.nyc/) on Saturday, March 3, 2018! We will be piloting Streetmix's new location-awareness feature at this public event, which will allow us to do two things:

1. User-test the feature, and learn whether there are tweaks or improvements we can make.
2. As a fun and engaging activity, have participants create the [gallery

[2018-02-22 19:24] louh opened #814 "When the app is in read-only mode, street width and location should not be editable"
Given: the app is in read-only mode when the `app` reducer in Redux sets the `readOnly` property to `true`.

Expected:
The street width and location in the `<StreetMetaData>` component should not allow edits by any user, even if the signed-in user owns the street being viewed.

To fix this bug:
- Clicking on the street width should not allow editing (don't display the dropdown).
- The location sho

[2018-02-23 15:54] louh commented on #813
Placeholder map: https://streetmix.github.io/famous-streets/

[2018-02-23 16:21] #719 closed

[2018-02-23 16:50] louh commented on #807
Thanks for the summary, @flickz.

One thing that we would like to avoid is when individual UI components need to know too much about the overall state of the UI in order to update seemingly unrelated components. Sometimes it is unavoidable (or temporary, as we refactor the codebase into more and more encapsulated components), but I think this is not one of those cases.

For `infoBubble` to need to

[2018-02-23 22:20] flickz commented on #807
@louh Yeah that should work

[2018-02-24 08:25] dhruvdutt commented on #785
@louh Should we setup webpack?

[2018-02-24 08:26] dhruvdutt commented on #711
@louh Can I give this a shot?

[2018-02-24 10:05] dhruvdutt commented on #324
I'll give it a try. :hand:

[2018-02-24 13:08] mredigonda opened #816 "Waffle.io broken image link on CONTRIBUTING.md"
In the file CONTRIBUTING.md, under [code contributions](https://github.com/streetmix/streetmix/blob/master/CONTRIBUTING.md#code-contributions), the link seems to be broken.

This is the exact line:

`[![Waffle.io stories in Ready](https://badge.waffle.io/streetmix/streetmix.png?label=ready&title=Issues ready)](https://waffle.io/streetmix/streetmix)`

This issue could be caused by the space between

[2018-02-25 13:47] louh commented on #816
Thanks @mredigonda. This seems to be the effect of a confluence of changes:

1. in GitHub, which [formally defined GitHub Flavored Markdown in terms of Commonmark](https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown), spaces in image urls have syntactic meaning.
2. in Waffle, which [redefined its badge service in terms of the shields.io service](https://github.com/waffleio/waff

[2018-02-25 13:59] louh opened #817 "Add <noscript> fallback to handle browsers where JavaScript is off or unavailable"
There should be a brief message stating that JavaScript is required to run Streetmix and to use a different browser.

[2018-02-25 14:00] louh opened #818 "Add fallback to handle browsers that don't support React, or IE below 11"
Should display a similar message (if not the same as the `<noscript>` variant (#817)).

[2018-02-25 16:12] louh opened #819 "Prompt user when they accidentally navigate away by swiping the Mac touchpad"
Perhaps by prompting with a "Are you sure you want to leave this page?" popup (browser native functionality).

[2018-02-25 16:15] louh commented on #324
Thank you, @dhruvdutt. Just a note -- if you're able to do it without introducing a dependency (e.g. with native browser APIs) that is even better. Let me know if there's anything you need.

[2018-02-25 16:33] dhruvdutt commented on #324
Ah, I was thinking to use the one you suggested. Hammer.js

[2018-02-25 16:45] louh commented on #711
@dhruvdutt You certainly may, and we'd really appreciate it.

Here's how things are currently set up.

- The app is based on [Express.js](https://expressjs.com/).
- The main entry point of the application is here: https://github.com/streetmix/streetmix/blob/master/app.js. You will see on [app.js lines 145-147](https://github.com/streetmix/streetmix/blob/master/app.js#L145-L147) that the CSS and Ja

[2018-02-25 16:46] louh commented on #785
@dhruvdutt We should -- I've responded to you in #711.

[2018-02-25 16:50] louh commented on #324
OK - It looks like there's no such thing as a native swipe listener in browsers, so go for it.

[2018-02-25 17:40] louh opened #820 "Rename GeolocateDialog to GeotagDialog (and similiar uses throughout app)"
(It's a more accurate term)

[2018-02-25 22:34] #816 closed

[2018-02-26 10:49] davidbourguignon commented on #797
Hi @louh, thanks for your feedback (and my apologies for the delay). Here are the answers to your questions:

1.     Data about the underground utilities will be provided by the relevant city department but we can have sometimes indirect information sources at hand (eg. following the pipes exits aboveground). On our side, it is currently a theoretical issue since we know we cannot design our stree

[2018-02-26 18:01] prssanna commented on #819
Hi @louh, I'd like to work on this issue.
This happens to me all the time on my Mac! :face_with_head_bandage:

[2018-02-26 20:42] louh commented on #819
@prssanna all yours!

[2018-02-26 22:37] flickz commented on #802
@louh Can I use ```NoConnectionMessage``` component to display the error in order to appear like img  below or how do you think the error should be handled and displayed?

![streetmix1](https://user-images.githubusercontent.com/15707013/36699461-fcdd33c8-1b4c-11e8-8706-751971eeffe0.png)

[2018-02-26 23:08] flickz commented on #818
@louh Like to use this external package for this [react-browser-support](https://www.npmjs.com/package/react-browser-support) since it's provide minimum browser versions options, what do you think?

[2018-02-27 02:38] louh commented on #818
@flickz We want to provide a fallback message even if the browser doesn't support React. [According to the docs](https://reactjs.org/docs/react-dom.html#browser-support) the minimum browser support for React is Internet Explorer 9. What happens if the browser is Internet Explorer 8?

[2018-02-27 02:41] louh commented on #802
We use the [`BlockingShield`](https://github.com/streetmix/streetmix/blob/28ef7fa80101307bbf5212e3a1ace0bf0d0cdd1d/assets/scripts/app/BlockingError.jsx) component to display a message when a street is [deleted from the gallery](https://github.com/streetmix/streetmix/blob/f9be614bfc989b9a28002dcbe973dec777162cf8/assets/scripts/gallery/Gallery.jsx#L91-L96). We might consider using a similar pattern

[2018-02-27 07:45] flickz commented on #802
Alright

[2018-02-27 08:12] flickz commented on #818
@louh

 "Display a message explaining that, we could also provide download links to some of the modern browsers".

Basically this is what it does, check if the user browser is supported if not display fallback message (allows customization)  You can check it out [react-browser-support](https://www.npmjs.com/package/react-browser-support).

I can do this without the package, I just feel it will be

[2018-02-27 15:54] louh commented on #818
My question is about whether or not this message even runs in IE8, because it is based on React, and React support is IE9 and higher.

Secondly, I do prefer not using this package. Its user base is very small, which is an indicator that support is not guaranteed. It's also a very small package (basically, just a React component), which means it's easier to copy the code, add a note of credit to th

[2018-02-27 16:03] louh commented on #797
Thanks for the response. I wanted to get a clarification on point number 2.

- Assume we know the underground utilities (number of pipes or other infrastructure, type, location, depth, diameter, etc)
- Please clarify if you think Streetmix users should be able to move or modify underground utilities.
- If underground utilities are fixed in place, what effect does it have on modifying above-ground

[2018-02-27 17:13] flickz commented on #818
@louh I see your points there, Thank you for the insights :blush:

[2018-02-27 19:42] flickz commented on #820
@louh I think we can close this now

[2018-02-27 22:01] flickz commented on #818
![fallback](https://user-images.githubusercontent.com/15707013/36757500-0b8aa98a-1c12-11e8-9985-fafde693d4c2.png)

@louh What do you think about this fallback message ?

[2018-02-28 00:38] #820 closed

[2018-02-28 11:06] prssanna commented on #819
Hi @louh, I spent a lot of time on this but I can't find a perfect fix. 😞
There are ways to play around with the scroll values but none of those solutions preserve the normal functionality for scrolling the street view(left and right).
There's also a JQuery plugin for this but I'm sure that's not ideal.
The simplest solution is to use `window.onbeforeunload` but that brings up the popup in all cas

[2018-02-28 16:21] louh opened #827 "Update geo components to use { lat, lng} objects instead of [lon,lat] or [lat,lon] arrays"

[2018-02-28 18:03] louh opened #828 "Update data model to account for change in lat/lng data"

[2018-02-28 18:07] louh commented on #819
I think using `window.onbeforeunload` is just fine.

When this is fired, can we detect an "overscroll" situation (for example, [used in this little library](http://tholman.com/overscroll/)) that would help limit the situations when the popup appears?

[2018-03-01 00:50] louh opened #830 "Create a placeholder segment so that bad / test data don't break the app."

[2018-03-01 12:54] louh commented on #828
Here: https://github.com/streetmix/streetmix/commit/7c7363f8d130ca281b19087dd53d7607b0a09a5b

[2018-03-01 12:55] louh commented on #827
Related: #828 - I updated the data model here: https://github.com/streetmix/streetmix/commit/7c7363f8d130ca281b19087dd53d7607b0a09a5b (it should be merged into the feature branch for this issue.)

[2018-03-01 18:03] nealkarpe commented on #786
@louh can I try to take this up?

[2018-03-03 18:18] manasvil opened #832 "Ability to add an element and position it manually rather"

[2018-03-03 18:23] manasvil opened #833 "Tooltips for widgets or draggable elements"
The distinction between a parking lane and a driving lane was not very obvious to me.
<img width="147" alt="screen shot 2018-03-03 at 1 21 52 pm" src="https://user-images.githubusercontent.com/5871829/36937745-ff1e4450-1ee5-11e8-82d0-eccb3d74191c.png">

[2018-03-03 18:29] mapmeld opened #834 "Layout for right-to-left languages / Arabic translation"
Follow-up from our StreetMix meetup conversation a few minutes ago - I would be interested in setting up a right-to-left language layout, and potentially hiring a translator for one of the more common RTL languages (Arabic).  I've requested to be added on Transifex.

Fortunately, changes ought to be mostly CSS... icons and graphics looking good as far as I can tell.

Feel free to assign me to this

[2018-03-03 18:50] treyhahn commented on #834
That'd be awesome! Let's connect more about translations too, I'd love to pick your brain more about it. I'll send you a message on Slack.

[2018-03-04 02:03] louh commented on #834
Hey @mapmeld! This would be awesome. I've approved your request to join on Transifex.

@treyhahn I have sent you an invite to be a team manager for Transifex as well so you should be able to approve new requests yourself in the future.

[2018-03-04 02:19] treyhahn commented on #834
Thanks Lou.

[2018-03-05 18:01] flickz commented on #818
@louh Can we discuss the new way to go with this?

[2018-03-05 18:01] louh commented on #786
Hi @nealkarpe, we spoke already in Slack, but please let me know if there's anything else I can do to point you in the right direction.

[2018-03-05 18:20] louh commented on #818
Let's start with a small experiment.

1. In https://github.com/streetmix/streetmix/blob/master/app/views/main.hbs#L84, put a "Your browser is not supported" message inside of the mount point for React.
2. For a download link, use https://browsehappy.com/. This is more generic and allows the user to choose. We will not attempt to detect or assume the preferred browser of the user.
3. Run the app lo

[2018-03-06 17:43] flickz commented on #818
@louh Sorry for the delay, apparently not been able to download IE8 virtual machine because of the size (4.2gb). Trying to find alternative.
Btw:
"Run the app locally to make sure that the "browser not supported" message is not visible before the app is mounted"
It is not visible.

[2018-03-06 19:19] treyhahn opened #836 "Standardizing Placeholders"
We need to make our use of placeholders consistent throughout Streetmix. We have been moving away from using "%s", yet there are still some instances of this in the codebase. Notably, there is an instance in the following translation file:

https://github.com/streetmix/streetmix/blob/993df83829b998bb27e9864f21e9d86fa9485254/assets/locales/en/main.json#L104

There non-english languages with main.js

[2018-03-06 19:19] treyhahn commented on #836
@louh The following also showed up when I searched for "%s". Is any action needed on these?
line 110 in app.js
line 21 in config/default.js
line 54 in app/resources/well_known_status.js
lines 17-19 in bin/email_heroku_db_stats.sh
lines 15-17 in bin/backup_db.sh

[2018-03-06 22:08] treyhahn commented on #836
Upon looking closer, I cannot find that string in the current Streetmix UI. Should we delete it entirely?
I also cannot find the _view-source_ and _thanks_ strings on lines 106 and 103 respectively.
![image](https://user-images.githubusercontent.com/12552044/37061246-d3bcc8fe-2160-11e8-99b5-2755e07b9dbc.png)

[2018-03-07 15:14] #827 closed

[2018-03-08 01:55] mapmeld commented on #834
I found a Palestinian contractor who plans to translate 1,600 words of it!  Here is the spreadsheet where I divided up phrases and added context, if you want to re-use it with another translator
[Translation for StreetMix.xlsx](https://github.com/streetmix/streetmix/files/1791564/Translation.for.StreetMix.xlsx)

[2018-03-08 03:57] louh commented on #836
I think we should just mark the strings as "deprecated" or "unused" within the Transifex UI, and not remove it for now. I'm not sure if these strings will be used again or not in the future, but for now, I'd like to play it safe by not throwing them away. We can make this decision in the future. If it's marked properly, my hope is that it'll be reasonable to find unused strings later.

[2018-03-08 15:07] louh opened #839 "Port database from MongoDB to Postgres"
We have made a couple of attempts to do this before (see #446, and https://github.com/streetmix/streetmix/tree/pg). We know we can make the switch from MongoDB to Postgres. What remains is how we do this in a way that ensures a seamless transition, guarantees no loss of data, and, ideally, doesn't require porting the entire back-end framework. I'm creating this issue to track and discuss this prob

[2018-03-08 18:37] #802 closed

[2018-03-08 18:39] louh commented on #813
This now redirects to the map: https://streetmix.net/map

We did it! While we have room for improvements to both the geo API and the map, and we still have many more famous streets to go, we can call this particular task done.

[2018-03-08 18:39] #813 closed

[2018-03-08 18:42] louh opened #840 "Investigate why some map locations are stored at Null Island"

[2018-03-08 18:48] louh commented on #276
#813

Map UI is broken out into another repository: https://github.com/streetmix/map

And is hosted here: https://streetmix.net/map/

The Streetmix main app exposes `/api/v1/geo` (which right now returns a GeoJSON of all geotagged streets, and does _not_ have a final fixed implementation of this API) which enables third-party use, such as this standalone map. In the future, Streetmix may incorpora

[2018-03-08 18:48] #276 closed

[2018-03-08 18:51] louh commented on #66
We now have a map (#813) but we need some way of tagging what's a famous street and what is not.

@treyhahn Can you make sure any of the famous street suggestions are incorporated into your list, then link a publicly viewable version of your list here? Thanks!

[2018-03-08 21:08] flickz commented on #839
I know there is a need to port now but am a bit curious on why we added ```asJson``` to the street schema [methods](https://github.com/streetmix/streetmix/blob/ae5bc85c26a1da67935ec8d4964550b628d6e24c/app/models/street.js#L35) when Mongodb provides populating to it's query options?

[2018-03-08 22:10] louh commented on #791
Looks like it worked. I was worried that the server wouldn't be up to receive the post-deploy hook, but it got it. (Keep an eye on this -- in case there is a race condition and we just happened to win that race the first time.)

TODO:

Handle success payload, which looks like this:

[code]

and don't console.log the entire response to the logs.

[2018-03-08 23:43] flickz commented on #839
@louh What went wrong at the first attempt?

[2018-03-09 00:45] louh commented on #839
I'm not entirely sure what you mean, and this is also part of the code I wasn't actively involved in writing. I can't answer this definitively, but one thing to keep in mind is that some of this code is 4+ years old, and syntax that we needed back then might no longer be necessary today. Since then, if it wasn't broken we didn't change it.

It involved porting the entire back-end to Rails, which w

[2018-03-09 02:41] flickz commented on #839
Sarah Mei, gave some explanation [talk](https://speakerdeck.com/sarahmei/switching-data-stores-a-postmodern-comedy), on how they did it, although there were couple of hours downtime. Also she explained using a separate project, I will try to relate it with Streetmix.

1. Export -
The first step is to export each collection (on Streetmix, ```users```, ```street```, ```sequence```) to a JSON / CSV f

[2018-03-09 03:13] flickz commented on #839
@louh, Can you explain this a bit further? "remove database schema 'migration' from the front end" where is this in the front end currently?

[2018-03-09 03:51] flickz commented on #793
Yeah since we can easily integrate with Mailchimp directly. Although the cost for more customization features will be something we have to consider.

Yeah.

Could be 1 time or after creating their first street or a street.

No it shouldn't but we could add "Subscription button" to one of the options in the menu bar, people change their mind later, so they can willing click and popup pops in again.

[2018-03-09 17:29] louh commented on #839
It's located here: https://github.com/streetmix/streetmix/blob/master/assets/scripts/streets/data_model.js#L114-L285

Regarding the API: I would prefer not updating the endpoint to `/api/v2/`. This would imply a change in our request and response formats, which I would like to avoid for this transition.

[2018-03-09 18:39] #791 closed

[2018-03-09 19:23] mredigonda commented on #839
As far as I know, MongoDB can also handle [geospatial-queries](https://docs.mongodb.com/manual/geospatial-queries/) effectively, but looking at point 1 and at the reputation of PostGIS, I believe it's a good idea to port it to Postgres anyway.

I wanted to know what is the preferred way of tackling both this and the [user accounts via e-mail](https://github.com/streetmix/streetmix/projects/3) task

[2018-03-10 08:38] davidbourguignon commented on #797
Thanks @louh for your very relevant points.

- I do think that providing Streetmix users with the possibility to also think and design underground utilities is important.
- The street landscape is the result of both above-ground and underground constraints, one cannot be designed without the other in mind. This is demonstrated very well by tree wells (which need plenty of room underground), but al

[2018-03-12 16:42] #830 closed

[2018-03-12 18:53] treyhahn commented on #836
I have assigned them a `deprecated` tag in Transifex. Now we can filter these out in the Transifex UI if necessary, but they still show up as strings to translate.

I will make a PR for the one (deprecated) line. To help make the name of the placeholder more intuitive, what is the context of the string? What would be a good name?

[2018-03-13 12:55] JoelGritter opened #844 "Bench Hanging Over Curb"
![test-st](https://user-images.githubusercontent.com/13542746/37342733-d062a706-269b-11e8-9372-0115714f5d09.png)

https://streetmix.net/-/652162

Note the bench on the right side. I don't know about you, but I ain't sitting on that bench!

Produced on Chrome 64 on Mac OSX 10.13.3. I was expecting the typical red area to appear to indicate that the bench was too wide for the gap, but when I placed

[2018-03-13 13:10] louh commented on #844
Hey Joel! Thanks for the really detailed report.

Believe it or not, this is "behaving as expected." For most segments, if its width is too small to contain its artwork, it overhangs into the next area. This allows people to do certain configurations, like this:

![](https://user-images.githubusercontent.com/2553268/37343439-f3559b2c-269d-11e8-8d99-b472dfdd4594.png)

The red-colored "too small" in

[2018-03-13 15:31] louh commented on #836
This used to be the full string:

[code]

So I think the placeholder could be just `{cfaLink}`

[2018-03-13 15:37] treyhahn opened #845 "Placeholders in the Transifex UI"
In the Transifex UI, {{}} placeholders currently show up as part of the string to be translated:
![image](https://user-images.githubusercontent.com/12552044/37351874-66e65f40-26b2-11e8-9304-651394ef8fc3.png)

HTML elements are already automatically detected by Transifex and displayed like this so translators know not to translate them:
![image](https://user-images.githubusercontent.com/12552044/37

[2018-03-13 15:39] treyhahn commented on #845
I thought about this while working on PR #842

[2018-03-13 15:44] louh commented on #845
Yep, seems like a pretty reasonable workflow improvement, go for it.

For a bit of context we initially settled on using `{{ }}` double brackets
but it's possible we might switch to `{ }` single brackets for better
compatibility with `react-intl` in the future. Use `{{ }}` for now but keep
in mind that change can happen soon.

On Tue, Mar 13, 2018 at 11:39 AM, Trey Hahn <notifications@github.com>

[2018-03-13 16:05] treyhahn commented on #845
Ok, got it. Only organizational admins can access this in Transifex- would you be able to make the change?

[2018-03-13 16:05] flickz commented on #839
@louh One of the major reasons we are porting is data Integrity, in the event of normalizing segments, how can we handle this data inconsistency in segments element? Take for instance:
[code]
```sidewalk``` has a ```randSeed``` field while ```sidewalk-tree``` does not, I know ```randSeed``` is a random value generated from [```RandomGenerator```](https://github.com/streetmix/streetmix/blob/master/

[2018-03-13 16:08] treyhahn commented on #66
Definitely. A few questions:
1. Do we care how famous these streets are? Someone submitted 11th street in East Village and Ocean Avenue in Brooklyn. Neither are particularly famous, but the person was excited about them. What would we do with this?
2. Do we need written justification for why each street is famous?
3. Any specific things to add regarding the boulevard book?

[2018-03-13 16:15] treyhahn commented on #66
Unfortunately I wasn't able to find anything at http://stroadtoboulevard.tumblr.com, but everything else has been added. The link is https://docs.google.com/spreadsheets/d/1GGYqZjKB5Ze6PdYEKVbWQ3xQV_ox3bH7xbVR7KK6dOQ/edit?usp=sharing. Right now I have it set that anyone with the link can edit. While there is a possibility someone may mess up the spreadsheet, I can't think of any big reasons why so

[2018-03-13 16:32] shubham0794x opened #847 "Installation error in windows set up of local environment"
![screenshot 313](https://user-images.githubusercontent.com/17377107/37355614-31ea6766-270a-11e8-853e-ad531c46fd47.png)
![screenshot 314](https://user-images.githubusercontent.com/17377107/37355615-321b4a2a-270a-11e8-84f2-f25a60af9e87.png)

[2018-03-13 16:56] treyhahn commented on #836
Ok. Just to double check, should it be {cfaLink} or {{cfaLink}}?

[2018-03-13 17:15] flickz commented on #847
Hello @shubham0794x , I think this is a  personal issue, some streetmix dependencies requires you have additional programs installed. Let's take this step by step:
**First Error**
- Download and Install [Python](https://www.python.org/downloads/)
-  Add to path (Python setup allows you to do this during installation or you can do it [manually](https://superuser.com/questions/143119/how-do-i-add-py

[2018-03-13 17:20] louh commented on #839
The random seed for the sidewalk is for generating a random selection of
pedestrians. It's the only segment to use a random seed. There are two ways
of thinking about this:

1. Every segment has a rigid schema for keys, so `randSeed` is a property
of all segments even if most segments don't need it, or
2. There is a JSON object store for each segment to allow flexible
properties, including `randSe

[2018-03-13 17:21] louh commented on #836
It actually doesn't matter, so choose one.

On Tue, Mar 13, 2018 at 12:56 PM Trey Hahn <notifications@github.com> wrote:

[2018-03-13 17:31] flickz commented on #839
`light-rail` segment also has it.
The 2nd solution is more flexible and appropriate to use in this case, I think.

[2018-03-13 23:36] louh commented on #839
Not exactly. It just means we need to make a script that iterates through
all streets in the database to bring old data in line with this script at
https://github.com/streetmix/streetmix/blob/29a1bbcde4b485dbeb991887c66f6e4c611ec2d2/assets/scripts/streets/data_model.js#L120
.

On Tue, Mar 13, 2018 at 3:02 PM, Oluwaseun Omoyajowo <
notifications@github.com> wrote:

[2018-03-14 00:01] #836 closed

[2018-03-14 02:39] treyhahn commented on #845
This is now resolved and looks like this:
![image](https://user-images.githubusercontent.com/12552044/37380456-33fe860e-270f-11e8-95ec-a1b5cc10d9bb.png)

All strings with {{}} will be detected by Transifex as placeholders. Transifex is calling these _placeholder delimiters_.

[2018-03-14 02:39] #845 closed

[2018-03-14 02:43] treyhahn commented on #847
Thanks for the help @flickz. @shubham0794x did those suggestions help? Let us know if you're still having trouble.

[2018-03-14 12:41] louh commented on #845
Nice!

[2018-03-15 09:58] flickz commented on #839
@louh can I get an estimate rough number of streets in the database yet to be moved to the latest schema version (18)?

[2018-03-15 13:19] louh commented on #839
This is a very rough number, but as the latest schema version is very new,
we need to iterate through all of the streets: about 750,000 of them.

On Thu, Mar 15, 2018 at 5:58 AM, Oluwaseun Omoyajowo <
notifications@github.com> wrote:

[2018-03-15 21:14] treyhahn commented on #66
The [public spreadsheet](https://docs.google.com/spreadsheets/d/1GGYqZjKB5Ze6PdYEKVbWQ3xQV_ox3bH7xbVR7KK6dOQ/edit?usp=sharing) has been tweaked to only include famous streets and is now read only (just in case). The workflow is now for people to submit URLs of famous streets they make via this GitHub page. This is explained in the instructions tab.

[2018-03-15 21:23] neil21 commented on #66
Tumblr moved stroadtoboulevard here:
http://stroadtoboulevard-blog.tumblr.com/tagged/boulevard
http://stroadtoboulevard-blog.tumblr.com/tagged/stroad

[2018-03-16 09:56] flickz commented on #839
@louh Are we currently using the mLab addon on heroku?

[2018-03-16 11:28] flickz commented on #839
@louh Sequelize has two methods for Initializing model, [sequelize migration](http://docs.sequelizejs.com/manual/tutorial/migrations.html) and  [sequelize sync](http://docs.sequelizejs.com/manual/tutorial/models-definition.html#database-synchronization). The former is more [recommended](https://stackoverflow.com/questions/41595755/sequelize-sync-vs-migrations) but will alter our project file struc

[2018-03-16 13:45] louh commented on #839
We will want to use migrations in the long term. What changes will it make
to our file structure?

On Fri, Mar 16, 2018 at 7:28 AM Oluwaseun Omoyajowo <
notifications@github.com> wrote:

[2018-03-16 15:19] flickz commented on #839
Adding Migration requires installing [`sequelize-cli`](http://docs.sequelizejs.com/manual/tutorial/migrations.html), `sequelize-cli` create directories, `model`, `seeders`, `config` and `seeders`, we have some of this existing already, how do we accommodate them with existing ones?

[2018-03-16 16:18] louh commented on #839
Can you `sequelize-cli` where to create those directories? If so, we can create a subfolder, e.g. `./app/db/` to put those in.

[2018-03-16 16:29] flickz commented on #839
No but what we can do is to create the `./app/db/` dir and run `sequelize init` there. Now that works!

[2018-03-16 18:11] treyhahn commented on #66
@neil21 Thanks for the updated links. This is great, so many streets!

I'm not familiar with all of them, would you be able to pick the 5 or so most famous streets from each list? Then I can add them to the public spreadsheet.

[2018-03-18 16:54] AshishkrGoyal commented on #785
@louh i want to work for this issue !!
with the help of gulp i want to resolve this ..
in the waiting for your reply :)
thanks in advance 👍

[2018-03-19 22:06] louh commented on #785
Hi @AshishkrGoyal,

We are already using gulp (well, it's low-level stream wrapper, vinyl-fs) to [process CSS](https://github.com/streetmix/streetmix/blob/master/lib/middleware/styles.js). We are thinking to move away from this direction because I believe [Webpack](https://webpack.js.org/) might do a better job for us here. We not only want to take advantage of its built-in file watching and loade

[2018-03-20 04:18] louh commented on #834
@mapmeld Does your translator mind sharing their name / contact (e.g. Twitter etc)? I want to make sure they're credited. We had some thoughts about how to do this in-app (#754) but the shortest-term method is probably via a [humans.txt](http://humanstxt.org/humans.txt).

[2018-03-20 04:19] louh commented on #754
The thought that I'd posted is to use a [humans.txt](http://humanstxt.org/humans.txt), which allows us to go forward with a way to record contributors without having to tie that list to how we do it in-app (until later).

[2018-03-20 05:18] dhruvdutt commented on #785
@louh Ah, sorry couldn't get back to this.

@AshishkrGoyal You can go ahead and do this. Best of luck. :+1:

[2018-03-20 05:20] louh opened #856 "Menu positioning should take into account width of actual content"
Menus are currently positioned to align to the left edge of its menu item, except when the right edge of the menu would extend past the right edge of the menu bar. However, positioning is hard coded rather than inferred from content. This causes issues when:

- translated content is longer than in English
- displaying content in RTL languages, and the hard coded alignment no longer applies

We nee

[2018-03-20 05:20] louh opened #857 "Streets cannot scroll properly in rtl mode"

[2018-03-20 05:20] louh opened #858 "Add rtl property to system state in Redux"

[2018-03-20 11:38] AshishkrGoyal commented on #785
@louh thannks for assigning me this issue..
i will send PR ASAP!!!
i will be happy to work with streetmix org for gsoc 2018 if i will get a chance ..
thanks in advance :+1:

[2018-03-20 12:33] louh commented on #857
@mapmeld I'd like to assign this to you, but for some reason GitHub won't let me assign people who aren't  invited as contributors to the project.

[2018-03-20 15:14] treyhahn commented on #754
Nice. How would that appear when implemented?

[2018-03-20 15:16] treyhahn commented on #857
Oops, I accidentally pressed "assign yourself". Sorry about that.

[2018-03-20 15:17] louh commented on #754
It's just a text file.

[2018-03-20 15:19] treyhahn commented on #754
Ok, so it'd just be linked to in the app?

[2018-03-20 15:25] mapmeld commented on #857
just needed to accept the invite. Now have assigned myself

[2018-03-20 15:48] louh commented on #754
No, it would just be in the repo. We would like to have a list in-app, but
starting with a text file allows us to record the information now without
waiting to determine implementation details.

On Tue, Mar 20, 2018 at 11:19 AM Trey Hahn <notifications@github.com> wrote:

[2018-03-21 01:11] mkong0216 opened #859 "Display width remaining shows {width}"
![screen shot 2018-03-20 at 9 06 48 pm](https://user-images.githubusercontent.com/17012261/37690668-e4bbb958-2c82-11e8-8010-b04ea095bff3.png)

The `StreetMetaData` line shows ({width} room) when there is room remaining on the street. However, when the occupied width by the segments are over the remaining width, then the `StreetMetaData` line displays the width over correctly.

![screen shot 2018-0

[2018-03-21 13:34] louh commented on #859
Yep, thanks for the catch! Seems the problem is we were using the wrong key for the string (and for some reason, it didn't matter until now).

[2018-03-21 13:45] louh commented on #859
Closed via https://github.com/streetmix/streetmix/commit/09df99abac25e29cf8efb6708c2ab863590bee5a, and seems like one would have to flush browser cache to see the fix.

[2018-03-21 13:45] #859 closed

[2018-03-21 23:37] mapmeld commented on #834
@louh Please credit "Diana M. Alhaj" (if you have space for a title in humans.txt, you can + ", Arabic translator")

[2018-03-22 01:33] #834 closed

[2018-03-22 01:58] louh commented on #414
We've continued to iterate on this quite a bit, so this issue is extremely outdated :)

Here's the summary of how things work:

1. We're using [Transifex](https://www.transifex.com/streetmix/streetmix/dashboard/) to coordinate translations and translators. @treyhahn is managing this.
2. We have a [translation API](https://github.com/streetmix/streetmix/blob/master/app/resources/v1/translate.js) en

[2018-03-22 01:58] #414 closed

[2018-03-22 03:36] louh opened #864 "Test ticket from Code Climate"

[2018-03-22 03:36] louh opened #865 "Test ticket from Code Climate"

[2018-03-22 03:37] louh opened #866 "Fix "TODO" issue in assets/scripts/streets/StreetMetaWidth.jsx"
TODO found

https://codeclimate.com/github/streetmix/streetmix/assets/scripts/streets/StreetMetaWidth.jsx#issue_5ab2d0c667cd560001000373

[2018-03-22 03:37] #864 closed

[2018-03-22 03:37] #865 closed

[2018-03-22 15:07] treyhahn opened #867 "Replace &nbsp; with a space"
In Transifex, some strings are displaying `&nbsp;` in full and not detecting it as an HTML element. This can be confusing for translators. We can fix this by replacing `&nbsp;` with a space.

![image](https://user-images.githubusercontent.com/12552044/37778635-d07e047a-2dc0-11e8-98b5-1c35f67d47d0.png)

![image](https://user-images.githubusercontent.com/12552044/37778643-d70158ec-2dc0-11e8-8afa-f22

[2018-03-22 19:48] treyhahn commented on #867
@louh Do we only want to replace this in the main.json file? How about the instances in the [StreetMetaWidth.jsx](https://github.com/streetmix/streetmix/blob/8c01d8a6882b840c89e1d6bdba26e90ce7fccc8a/assets/scripts/streets/StreetMetaWidth.jsx#L210), [BlockingError.jsx](https://github.com/streetmix/streetmix/blob/8c01d8a6882b840c89e1d6bdba26e90ce7fccc8a/assets/scripts/app/BlockingError.jsx#L235-L255

[2018-03-22 20:54] louh commented on #867
Only replace them in the translation related areas (in `BlockingError.jsx`). The `&nbsp;` elsewhere still serve their purpose and will not have to be reviewed by translators.

[2018-03-22 21:25] flickz commented on #866
@louh This should work? `var resolution = getSegmentWidthResolution() || 0.25`

[2018-03-23 02:43] #867 closed

[2018-03-23 03:25] louh commented on #866
That just changes the syntax, but it doesn't change the fact that `getSegmentWidthResolution()` doesn't consistently return a value.

[2018-03-23 03:26] #844 closed

[2018-03-23 04:20] louh opened #870 "Exported images are labeling all segments as "Unknown""
Via:
https://twitter.com/alexkgellis/status/976524612614934529

[2018-03-23 04:25] AkshitKrNagpal commented on #866
@louh
I am new here and would like to contribute.
From what I understood `MIN_SEGMENT_WIDTH` is also being calculated using 0.25 as resolution. Wouldn't it make more sense to just declare default resolution in this file?
In line 27 of [https://github.com/streetmix/streetmix/blob/master/assets/scripts/segments/resizing.js](url)

[2018-03-23 04:51] louh opened #871 "Segments that are too wide or too narrow are not displaying warning state on page load"

[2018-03-23 15:21] louh opened #873 "Consider moving SVG build process into this repository."
Rationale:

- We already compile CSS and JS here, and serve it from Express.
- The image/icons build process in their respective repositories serve no other purpose than to pre-build those files for Streetmix, but it also creates duplicate build processes and dependencies in each repo.
- Compiling here enables a single file to be built with both the stock images and replacement images for testing

[2018-03-23 15:28] louh opened #874 "Add flags to user"
In the user model, add an object called "flags", which lists any flag overrides on that user and the value it's overriden with.

[2018-03-23 15:29] louh opened #875 "Convert flag data to json and move it to a part of the app where it can be read by backend and compiled into front-end code"
The [feature flag system](https://github.com/streetmix/streetmix/pull/772) is an important method for being able to release features "when they're ready" while either testing or rolling them out in a production environment. In Streetmix, feature flags are only known on the front-end right now, and can only be activated through a hidden dialog box. We want to be able to turn on flags behind the sce

[2018-03-23 15:29] louh opened #876 "After flags are attached to user data, consider making some flags globally active on staging"
One way we can test and preview new features on the staging server is to be able to activate feature flags globally in certain environments. We'd add a new property to one of the config files (e.g. `config/staging.js`) to activate flags in that environment.

[2018-03-23 18:41] #799 closed

[2018-03-23 18:41] #800 closed

[2018-03-23 18:43] louh opened #877 "Put back street state replacement action/reducer"
Used for:

1. Switching between gallery streets
2. Undo/redoing a change

[2018-03-23 20:22] treyhahn opened #878 "Look into shortening strings for delete and shift keys in Spanish"
The translations for the `shift` and `delete` keys are currently long. This is not because they are wrong, but _it would be nice to_ maintain the correct meaning in a more concise string. See the existing situation below:

![image](https://user-images.githubusercontent.com/12552044/37851382-08daf090-2eb5-11e8-9ccc-3be0cf0e7d82.png)

I do not have enough experience using Spanish keyboards to make a

[2018-03-23 20:32] mkong0216 commented on #877
@louh I'm also thinking of using the street state replacement action/reducer for `prepareDefaultStreet` and `prepareEmptyStreet` since we're essentially starting from scratch. What do you think?

https://github.com/streetmix/streetmix/blob/master/assets/scripts/streets/data_model.js#L475#L509

[2018-03-23 20:51] treyhahn opened #879 "New strings to add to translation file: {} floor and {} floors"
When you hover over a building, you can choose how many floors the building has. This string is not currently in Transifex. We should have 2 strings: one `{single} floor` and `{multiple} floors`.

![floors](https://user-images.githubusercontent.com/12552044/37852746-2eed9e4a-2eba-11e8-901b-cfc02dc71b5e.png)

@louh Do you have any suggestions for naming the placeholders?

[2018-03-23 21:05] treyhahn opened #880 "Twitter sign-in prompt translation is not hooked up"
People can sign into Twitter by clicking on the _My streets_ button or the _Share_ button. However, only the string in the _Share_ menu displays as translated on the UI.

<img width="398" alt="twitter-sign-in-share-vs-my-streets" src="https://user-images.githubusercontent.com/12552044/37853082-798cf7b0-2ebb-11e8-96da-773b8c230ca0.png">

This string is located in the main.json file and is called `p

[2018-03-23 21:11] treyhahn opened #881 "Localize descriptions in infobubble"
The titles of the info windows seem to be translating ok. However, the longer descriptions inside them are not. The translations are complete for these in Transifex, so we need to fix the code to make them display correctly.

![image](https://user-images.githubusercontent.com/12552044/37853374-d6b37b8e-2ebc-11e8-9a65-1beb620bb7e5.png)

![image](https://user-images.githubusercontent.com/12552044/37

[2018-03-23 21:24] treyhahn opened #882 "Complete localization of "learn more" prompts"
Some of the "learn more" strings (e.g. _Learn more about bike lanes_) are displaying fine.

![image](https://user-images.githubusercontent.com/12552044/37853862-db94559a-2ebe-11e8-933f-52d8c4a8a7a3.png)

However, some are not:

![image](https://user-images.githubusercontent.com/12552044/37853896-06d9e80a-2ebf-11e8-88c8-4c21deb9e430.png)

We need to fix the ones that are not so that they display co

[2018-03-23 21:34] treyhahn opened #883 "Red and green bike lane: missing/disconnected strings"
The _Red lane_ and _Green lane_ alt texts for the bike lane are not translating.
![image](https://user-images.githubusercontent.com/12552044/37854080-ce9492aa-2ebf-11e8-8442-635d1e31327e.png)

Each string has a different situation. For the _Green lane_, it is in Transifex and translated. This means we need to fix something on the code side.

For the _Red lane_ bike lane, I can't find a translation

[2018-03-23 21:35] treyhahn commented on #883
Apologies for the screenshot quality by the way, it is a screenshot of an image in an email window.

[2018-03-25 15:11] louh opened #884 "Port buildings to React"
Now that we have street data entirely in Redux state (via #861), we are able to think about rendering the street as React components. We can start with buildings, since they don't have drag-and-drop functionality, and that should make them easier to port over than the street segments.

Specifically, these elements in `StreetView.jsx`: https://github.com/streetmix/streetmix/blob/1145ab255b271cebe12

[2018-03-26 00:24] louh opened #885 "Add rel="noopener" to external links"
See more here about why. https://pineco.de/security-and-performance-benefit-from-the-rel-noopener/

[2018-03-26 12:45] louh commented on #879
Great catch. One thing to keep in mind is that strings that differ because of quantity can have different requirements in different languages. It seems that [Arabic](https://www.i18next.com/plurals.html#languages-with-multiple-plurals) and Russian for instance would have another form for when there are 2 of a thing.

The [plural formatters for our localization library](https://github.com/yahoo/rea

[2018-03-26 12:46] louh commented on #877
Yup, that makes sense!

[2018-03-26 12:48] louh commented on #881
I think these should be 2 separate issues.

[2018-03-26 12:48] louh commented on #882
Great, thanks for opening this issue. I don't know if there is a better term but there must be one. If you find one, let me know.

[2018-03-26 12:49] louh commented on #883
Yes, let's add red lanes to `segment-info.json`

[2018-03-26 13:45] louh commented on #880
Hmm.

When we first created this, we split up a single sentence into two parts:

[code]

 but this only works if we think the clauses will always be in the same order in the sentence... so far no one has complained about this yet, but I'm not confident this is going to be true forever. I think we should think about consolidating the sentences, even if the "Sign in with Twitter" part will be repeat

[2018-03-26 13:53] suhailsinghbains commented on #839
Hi there,
I had helped my friend in some project relating to MongoDB. As I prefer to use POSTGRESql, I had made many projects that involve the postgresql in action, on Heroku too.

I would love to work on this project in GSoc-18

[2018-03-26 13:55] #880 closed

[2018-03-26 14:32] treyhahn commented on #839
Hi @suhailsinghbains, welcome! Have you see this page yet? https://streetmix.readme.io/docs/gsoc2018

Please take a look and join Streetmix on Slack as well: https://streetmix-slack.herokuapp.com/

[2018-03-26 15:22] treyhahn commented on #879
Wow, I had no idea! For the strings, do you mean they would be like the following?
`{3+} floors`
`{2} floors`
`{1} floor`
I will create a PR.

[2018-03-26 15:24] mapmeld commented on #879
Yes, actually I had feedback from the translator about this for the "{n} street", "{n} streets" dialog

The Arabic version is like this:

* street
* pair of streets
* 3 streets.. (this is the first count to use a number)
* 4 streets.. (and so on)

[2018-03-26 15:32] louh commented on #879
Regarding the placeholders, @treyhahn, use the same word for each (e.g. `{n}` or `{number}`), and don't do `{1}` or `{2}` because (a) numbers cannot be used as variable names in JavaScript, and (b) it would be easier to name the variable one thing.

[2018-03-26 15:33] louh commented on #880
Updating this was a pretty easy fix. I'll open the string revision idea as a separate issue.

[2018-03-26 15:43] treyhahn commented on #879
@mapmeld Wow, that's interesting. So, do we need 4 unique strings for Arabic?
@louh Ok, should we give instructions in the context tab in Transifex? I'm concerned if a translated sees `{number} floors` and `{number} floors` they may not know the difference between the strings.

[2018-03-26 15:45] mapmeld commented on #879
@treyhahn just three... 4th one is just there to mean "it continues to our norms from there". I could have explained that better.
Unless it's possible "there are {0} streets" ? Then it would be a 4th string for "there are no streets"

[2018-03-26 15:47] louh opened #886 "Update the "sign in link" translation strings to be more consistent with the rest of the app"
Follow up from #880:

When we first created the strings for [the various "Sign in with Twitter" links](https://github.com/streetmix/streetmix/blob/master/assets/locales/en/main.json#L265-L268) (three years ago!) I made some decisions based on technical limitations and some bad assumptions about language structure. We've learned a lot since then and it's time to update this section.

These are the

[2018-03-26 15:48] treyhahn commented on #879
Ok got it, thanks. For this issue, we are focusing on floors of a building and I don't think we can have 0 floors. So we should be good with 3 strings:
`{number} floors` (for 3+ floors)
`{number} floors` (for 2 floors)
`{number} floor`

[2018-03-26 15:49] treyhahn commented on #879
@mapmeld Let me look at where the `{n} streets` shows up in the app though to check if we need to add a 0 option.

[2018-03-26 15:54] treyhahn opened #887 "Adding angled parking to translation files"
It's great that we finally have angled parking as a segment! Now that we have it, should we add the strings to `segment-info.json`? If so, should we set up 4 unique strings for the alt-text for the different angles? Or since the alt-text is the same for each angle is one string enough for all 4?

![image](https://user-images.githubusercontent.com/12552044/37917414-5cf15a3c-30ec-11e8-953c-d2658c945

[2018-03-26 16:10] treyhahn opened #888 "Plural form of "streets" in account street gallery"
When I sign in to Twitter, the `__ street` only displays singlular `street` despite the account having more than one street.

![image](https://user-images.githubusercontent.com/12552044/37917886-9d2133c4-30ed-11e8-9f7e-7bb47a71af41.png)

In the Spanish (mx) version this happens too:

![image](https://user-images.githubusercontent.com/12552044/37917946-c1ed7640-30ed-11e8-838a-21cb1f8fae63.png)

We

[2018-03-26 16:12] treyhahn commented on #888
Also to note, @mapmeld brought up [here](https://github.com/streetmix/streetmix/issues/879#issuecomment-376213171) the possibility of an account having 0 streets. How do we currently handle that, and should we change it at all?

[2018-03-26 16:16] treyhahn commented on #880
It's working!!!! :) I see the new issue you created and will get on it.
![image](https://user-images.githubusercontent.com/12552044/37918575-77f990c6-30ef-11e8-9bb5-83de7d9427f3.png)

[2018-03-26 16:17] treyhahn commented on #880
And now I see an error in the Spanish translation string lol. I'll fix it now.

[2018-03-26 16:25] treyhahn commented on #886
This also helps on the translation end because how it was split up before didn't translate well in Spanish. For example in the screenshot below, the verb "ver" (to see) is left out because it wasn't needed in the English string. So, despite the translators doing a good job, the string doesn't sound right.

![image](https://user-images.githubusercontent.com/12552044/37918893-5ae97982-30f0-11e8-86cd

[2018-03-26 16:51] treyhahn commented on #881
This has been edited to be 2 different issues.

[2018-03-26 16:53] treyhahn opened #891 "Main street segment display not translating"
The street segments are translated but the translations are not displaying. This is a main part of the ui, so it seems pretty important. **We need to hook up the code correctly so that the translations of these segment names are appearing correctly**

![image](https://user-images.githubusercontent.com/12552044/37853374-d6b37b8e-2ebc-11e8-9a65-1beb620bb7e5.png)

[2018-03-26 16:58] treyhahn opened #892 "Translating the default "Unnamed St""
When you create a new street, the title is auto populated at "Unnamed St". When you create a new street on the Spanish version, it still displays "Unnamed St".

![image](https://user-images.githubusercontent.com/12552044/37920469-e7d6530c-30f4-11e8-9ad7-960f3f0915ff.png)

[We already have a string for this](https://github.com/streetmix/streetmix/blob/893055efd07347fac34b2fc2d098eae6f789428b/assets

[2018-03-26 17:04] louh commented on #888
Good catch. I updated this to use `react-intl` and it is handling plurals differently from `i18next`.

We currently display "No streets yet" when there's zero streets.

[2018-03-26 17:05] treyhahn commented on #883
The red lane option has now been added. To note: the `bike-asphalt|colored` key was changed to `bike-asphalt|green`. The new key added was `bike-asphalt|red`.

**The next step for this is to make sure both strings are hooked up correctly.**

[2018-03-26 17:06] treyhahn commented on #883
I'm taking myself off the issue for now, as I'm not sure how to fix this part.

[2018-03-26 17:09] treyhahn commented on #888
Ok great, we don't have to worry about 0 streets then @mapmeld.
**Now, the issue is just to figure out how `react-intl` handles plurals and fix it.**

[2018-03-26 20:39] #877 closed

[2018-03-26 21:17] #870 closed

[2018-03-26 21:36] #828 closed

[2018-03-27 23:02] flickz commented on #885
@louh What about `noreferrer` for old browsers?

[2018-03-28 04:36] louh commented on #885
We may as well add `noreferrer` as it's needed for IE and Edge.

[2018-03-28 13:16] Idloj commented on #833
Tooltips are working for me

[2018-03-29 20:11] treyhahn opened #897 "Replacing links in segment-info.json"
We recently began to replace web links with placeholders so that we can assign links for different languages and so translators don't have to do that in Transifex. However, we did not get to the `segment-info.json` file. Should we replace those instances as well?

![image](https://user-images.githubusercontent.com/12552044/38110558-0a045ed4-336a-11e8-9b6f-38be675c6dfe.png)

The following lines hav

[2018-03-29 20:30] flickz commented on #885
@treyhahn Think this can be closed now!

[2018-03-29 20:35] treyhahn commented on #885
This was solved by PRs #894 and #895.

[2018-03-30 23:38] louh commented on #886
Ahhh -- we already are! Good catch.

Let's see if any translated `promo-1` strings are still needed (or need to be used to update `share.sign-in` string), then delete them, if they're no longer neeed.

[2018-04-02 16:09] treyhahn opened #900 "Icons for "Donate" and "Visit Streetmix blog" dropdown buttons"
For most of the dropdown links, there are icons:
![image](https://user-images.githubusercontent.com/12552044/38203759-497a414e-366e-11e8-8e6b-33e0647f243b.png)
![image](https://user-images.githubusercontent.com/12552044/38203768-510bcc70-366e-11e8-99de-4e571943b15d.png)

However, the "Donate" and "Visit Streetmix blog" ones don't have icons. Should we add them? One idea for the "Donate" button is

[2018-04-02 19:39] treyhahn opened #901 "Displaying time codes in English"
It looks like time codes are being displayed in HH:MM in English. In the US we generally use [AM and PM](https://www.timeanddate.com/time/am-and-pm.html). Do we want the times being displayed like this? Also, is the newly adopted [react-intl](https://github.com/yahoo/react-intl) playing a role in this?
![image](https://user-images.githubusercontent.com/12552044/38212426-b2a2856a-368b-11e8-9199-061

[2018-04-04 13:53] treyhahn commented on #891
I just tried this on a cleared browser session in [Vivaldi](https://vivaldi.com/?lang=en_US) and these segments loaded fine at the start, but after modifying a segment it reverted to English.

![image](https://user-images.githubusercontent.com/12552044/38311776-fe8ad56e-37ed-11e8-9eee-611f16ed39f2.png)

[2018-04-04 14:17] treyhahn opened #902 "Alt text tags on segment choices at bottom of UI aren't translating"
We already have translations of these strings in Transifex, and need to figure out how to hook them up correctly.

<img width="1261" alt="screen shot 2018-04-04 at 10 13 47 am" src="https://user-images.githubusercontent.com/12552044/38313174-88960afa-37f1-11e8-81b4-3cb7114e62a2.png">

[2018-04-04 14:55] treyhahn commented on #892
Is this where we need to hook this string up?
https://github.com/streetmix/streetmix/blob/b9cbf5156ae54afbd9d2c5e2209029252169be65/assets/scripts/app/messages.js#L6

Do we need to do anything about these other instances?
![image](https://user-images.githubusercontent.com/12552044/38315002-8718bfac-37f5-11e8-8b87-e79b3322b34b.png)

[2018-04-04 15:14] treyhahn commented on #883
Note: we have Transifex's translation memory feature ("TM") [set up to detect](https://docs.transifex.com/setup/translation-memory/enabling-autofill) and autofill 100% match strings. Meaning if we create a new key that has an identical string, it will autofill it and mark as _TRANSLATED BY TM_ in the Transifex interface.

This is what happened with the "Red lane" and "Green lane" strings that were

[2018-04-04 21:33] treyhahn commented on #883
Would these translations be hooked up at one of the following 2 places?

https://github.com/streetmix/streetmix/blob/b9cbf5156ae54afbd9d2c5e2209029252169be65/assets/scripts/segments/variant_icons.js#L241-L256
https://github.com/streetmix/streetmix/blob/b9cbf5156ae54afbd9d2c5e2209029252169be65/assets/scripts/streets/data_model.js#L232-L236

[2018-04-04 22:42] #857 closed

[2018-04-05 19:25] treyhahn commented on #694
Progress is finally happening! Documentation has been created [here](https://streetmix.readme.io/docs/localization) and a place to display progress here. There is also a [google sheet](https://docs.google.com/spreadsheets/d/1rOIl4_Vb-K1i_I6zXBv3j4UGWFqjHtsNQEm1wREWNP0/edit?usp=sharing) for translators to list our localization standards.

[2018-04-09 07:07] louh opened #905 "Allow parklets at 7'"
Comment via https://twitter.com/louiswu659/status/982365436057567232:

[Parklets in SF can be 6' deep](http://pavementtoparks.org/wp-content/uploads//2015/12/SF_P2P_Parklet_Manual_2.2_FULL1.pdf), and we already allow parking spaces at 7', so showing parklets at 6' to 7' would work, but this would involve changing the artwork.

[2018-04-09 19:30] treyhahn commented on #414
Hey @magul thanks for all your help making these translations possible. I've just hopped on recently to help organize translations, and wow this conversation is long. It must have been a lot of work! :)

Like mentioned above, there has been a good amount of progress and we are hoping to launch in languages that are ready in 2 or so months. It'd be great to be able to launch in Polish too. If you h

[2018-04-09 19:46] treyhahn commented on #414
Hey @tomicrom do you still use Streetmix? I know it's been a several years since you commented, but we are hoping to launch a Spanish version soon and I would love to get your advice.

[2018-04-09 20:09] tomicrom commented on #414
Hi @treyhahn.
I'm not using it right now. but let me know what you need. I'm sure i can help you or connect you with the right person.

[2018-04-10 16:53] treyhahn commented on #414
Hi @tomicrom thank you so much, I appreciate it! What are your thoughts on the possibility of having multiple versions (locales) of Spanish?

Also, are you on the [Streetmix Slack](https://streetmix-slack.herokuapp.com/) chat yet? That may be a better place to chat than this old GitHub issue.

[2018-04-10 17:06] tomicrom commented on #414
Right now im on a business trip, with no free time.
But mi friend and collegue @martoalalu will join the Streetmix Slack. He's still working in Buenos Aires City Government, and will be able to help you.

[2018-04-10 18:46] treyhahn commented on #414
Thank you @tomicrom, have a good trip!

@martoalalu Good to meet you digitally and see you on Slack! Here is the link to join in case you need it: https://streetmix-slack.herokuapp.com/

[2018-04-10 19:08] magul commented on #414
Hi @treyhahn, I almost missed that one - I lost track here working on some other project, but will ask somebody from @CodeForPoznan to do translations here. Will report tommorow evening CEST.

[2018-04-10 19:08] martoalalu commented on #414
Hi! Thanks Tomi.

Hello Trey! I`m now working at Buenos Aires City Government. See you on
Slack ;)

2018-04-10 15:46 GMT-03:00 Trey Hahn <notifications@github.com>:

[2018-04-11 11:57] louh commented on #897
This is different because the links in `segment-info` are so dependent on context, and it would be more difficult to manage if they're hard-coded in code. Furthermore, it's possible that the translated text would be different based on locale in the future. I think in this case it's better to leave links in the info text.

[2018-04-11 12:02] louh commented on #900
I think it's fine to use the OpenCollective logo for the "Donate" link.

The blog itself is less dependent on the particular brand of service hosting that blog. It may as well be Medium. The is complicated by the fact that there's no such thing as a common icon for "blog".

We shouldn't use the square logo. It was an experiment, and we've used it in some instances, but the the "Streetmix brand" or

[2018-04-11 14:53] treyhahn commented on #897
Copy, should we close this issue?

[2018-04-11 16:17] #897 closed

[2018-04-12 19:17] treyhahn commented on #694
A brief note on this:

The _streets_ section of the google sheet may be useful in the future, but for now it is not a priority. This includes the following:

- Addresses - Street Name Only
- Addresses - Street name with city/town, region/state
- Addresses - Street name with city/town, region/state, and country
- Address range of street
- Intersection of street

For now we should focus on date, tim

[2018-04-16 19:35] flickz commented on #874
Can you please share more light on this issue especially "which lists any flag overrides on that user and the value it's overriden with."

[2018-04-18 02:25] louh commented on #874
Sure. We have some "feature flags" in the application that can turn on new or experimental features in the app. Here's a list of them: https://github.com/streetmix/streetmix/blob/7dc4fb3b43ec638fcc61d9dada745e6ceeac9b28/assets/scripts/app/flag_data.js

Right now, flags are saved to a browser's localStorage object so they're remembered on a per-browser basis, but we might want to save them to the u

[2018-04-18 14:52] treyhahn commented on #755
This is now complete for all languages as of now. Documentation for this is in a Google Sheet [here](https://docs.google.com/spreadsheets/d/13Q80GDpGSqHHLjdIKrJbxeNrwMIQ38ZBxqOdmW9-jYg/edit?usp=sharing).

[2018-04-18 14:52] #755 closed

[2018-04-18 15:39] louh opened #912 "Port street segments into React"
Quick outline (subject to change)

- Render the street via React/Redux data using [Segment](https://github.com/streetmix/streetmix/blob/master/assets/scripts/segments/Segment.jsx) components; let React re-render / sync DOM after all manual drag/drop interactions
- See if we can refactor info-bubble to be entirely React component
- Set up a drag/drop state in Redux so parts of the app know about it

[2018-04-18 18:52] #884 closed

[2018-04-18 18:59] louh opened #913 "Info bubble display bug when mouse moves from building to a segment"
Following up from #911, we observed this bug:

Ideally we can find a simple fix; if not, we can hope this problem goes away after segments and info bubble are fully ported to React/Redux.

[2018-04-18 19:02] louh opened #914 "Update componentWillReceiveProps to getDerivedStateFromProps"
Follow up from #911:

More info: https://reactjs.org/blog/2018/03/29/react-v-16-3.html
Migration guide: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

We updated to React 16.3 in 7c8251993ce6f05ea47cd34fb59b6f8a59359081 and so we should gradually update between now and the future release of React 17. This does not have to be done all at once.

[2018-04-18 20:08] louh opened #915 "Some streets are consistently not properly displaying the 2nd variants of a segment"
Reported by Erik Landfried, and seen on these streets:

https://streetmix.net/DurhamComplete/4/s-columbia-st-just-before-south-rd-remix
https://streetmix.net/DurhamComplete/5/s-columbia-st-just-before-south-rd-non-auto
https://streetmix.net/DurhamComplete/3/s-columbia-st-at-health-sciences-library-remix
https://streetmix.net/DurhamComplete/6/s-columbia-st-at-health-sciences-library-non-auto

This

[2018-04-18 20:11] louh commented on #915
Observations so far:

- This can happen for anything that is a second variant (after the variant separator `|`), not just with pavement color, as originally reported. This bug does not affect the first variant. It may be a problem with how the variants are parsed.
- Street seems to be properly saved and retrieved from the backend. Sometime between retrieval and storage in Redux, the second variant

[2018-04-18 20:17] louh commented on #915
- This appears to happen when the `schemaVersion` property is missing from the street data.

[2018-04-18 23:31] louh commented on #915
In the past, `prepareDefaultStreet` and `prepareEmptyStreet` reused the global `street` object, copying over the previous `schemaVersion`. Now, both functions create new `street` objects, but they're missing `schemaVersion`. Possible solution involves setting `schemaVersion` explicitly during street creation.

[2018-04-19 00:31] louh commented on #915
When a street is received from the server, its initial data is stored in Redux, but if the schema is updated, it doesn't appear to update. Couple of other follow up steps include:

- After updating the schema, dispatch that updated data model to Redux.
- When updating schema, make sure that the correct schema version and updates are made properly.

[2018-04-19 01:53] louh commented on #915
For new streets, the solution is _definitely_ to make sure `schemaVersion` is present. This prevents the street from incorrectly rendering on future loads.

---

It is still unclear how to solve this problem for _existing_ streets that suffer from this issue.

[2018-04-19 13:10] #915 closed

[2018-04-19 20:24] mkong0216 commented on #913
So it appears that because buildings are now being rendered as a React component and is using the React synthetic event `onMouseEnter` and `onMouseLeave` to handle showing/hiding the infobubble, the order of calling the functions to show and hide the infobubble is causing the infobubble for the segment adjacent to the building to close.

When hovering over one of the buildings, the `onBuildingMous

[2018-04-19 20:31] mkong0216 commented on #913
Update: I think I may have found a simple fix. Within `onBuildingMouseLeave`, before calling `infoBubble.dontConsiderShowing` I am checking to see if the `infoBubble.considerSegmentEl` is equal to the ref of the building.

[2018-04-19 20:54] #892 closed

[2018-04-19 22:53] louh commented on #913
Do we need to do it? If not, I wouldn't worry about it.

[2018-04-19 23:16] mkong0216 commented on #913
I guess not, it will probably only occur in the `Building` component. Okay, I'll just do the check in the  `onBuildingMouseLeave` event handler. Thanks!

[2018-04-19 23:40] treyhahn opened #919 "Setting punctuation standards for translation strings"
We are making lots of progress on translations. At this point, what's left are mostly really small nitpicky things. I think this issue falls into that category.

Should hyperlinks in translation strings include the punctuation mark after a word? This is something we have not been fully consistent with.

![image](https://user-images.githubusercontent.com/12552044/39023332-eb09e4dc-4407-11e8-9141-75

[2018-04-19 23:40] treyhahn commented on #919
@louh What are your thoughts on this?

[2018-04-20 12:06] #913 closed

[2018-04-20 16:51] treyhahn commented on #919
👍

I will put the punctuation outside the hyperlink.
Re: quotation marks, inside for English it is.
Re: the _Start your own street_ button, 👍
Re: the _hyperlink including a space after the word_, that was actually just a typo in my translation. It has now been fixed. Sorry about that.

I'll also start a readme page with these punctuation standards or put them in the FAQ.

[2018-04-20 18:36] louh opened #922 "Regression: buildings no longer repeat/continue at edges of narrow streets"
Likely a regression that happened with the port of buildings to React rendering, but we didn't catch it when we were looking at "default" width streets on smaller monitors (like laptop monitors): when a street is narrow, or is viewed on a monitor with much larger resolutions, then the buildings no longer repeat at the outer edges to fill the rest of the viewport/window space. You can test this by

[2018-04-20 19:06] #886 closed

[2018-04-20 20:05] #919 closed

[2018-04-20 20:31] treyhahn commented on #919
Since I don't have a comprehensive "punctuation standards guide" right now, I just added a Q&A about this in [the FAQ](https://streetmix.readme.io/v1.0/docs/translation-faq). It says:

A: If there is a period at the end of the English string, add one; if not, do not add one. Like for capitalization, look at the English strings for guidance on punctuation standards. If you see something that looks

[2018-04-23 15:41] treyhahn opened #926 "Hook up new "{count} streets" and "{count} floors" strings"
As noted [here](https://github.com/streetmix/streetmix/pull/898#issuecomment-383216331), the `{count} floors` strings are not hooked up yet.

These strings will become one string once we implement the new format specified in PR #925.

The task for this issue is to make sure that the new format of both the `{count} floors` and the `{count} streets` strings are hooked up and displaying in the UI cor

[2018-04-23 16:05] #888 closed

[2018-04-23 16:11] louh commented on #901
My preferred time format is to display 12-hour clock with lower case `am` and `pm`, a space (or hair space) between the time and the meridiem notation, and no leading zero in case of the single-digit hour. The current format is date formatting functionality which is not complete.

We will absolutely need to localize time/date formatting. `react-intl` will very likely [play a role](https://github.c

[2018-04-23 19:22] louh opened #927 "Switching streets in galleries causes buildings to play switch in/out animation"

[2018-04-23 19:37] louh opened #928 "Update placeholder delimiters in Finnish"
Finnish has one instance where the placeholder delimiters are still double brackets `{{` `}}` instead of single brackets:

https://www.transifex.com/streetmix/streetmix/translate/#fi/main/96148890?q=text%3AminWidth

[2018-04-24 15:11] louh commented on #901
See the PR above -- we're converting date/time formatting to a React component based on `react-intl`. This will display a 12-hour clock, no leading zeroes, with capital AM and PM. It's not worth trying to override this to force it to be lower case. `react-intl` will also show the appropriate formatting for other locales automatically.

[2018-04-25 16:33] #901 closed

[2018-04-25 22:11] treyhahn commented on #901
A question re:

Do we trust `react-intl` on this. If so, should we continue to document standards for timestamps in the [google sheet](https://docs.google.com/spreadsheets/d/1rOIl4_Vb-K1i_I6zXBv3j4UGWFqjHtsNQEm1wREWNP0/edit#gid=0)?

[2018-04-25 22:44] louh commented on #901
I implicitly trust the web standard ecosystem over own best guesses about languages we don't speak, yes.

[2018-04-25 22:55] #926 closed

[2018-04-26 01:00] louh opened #934 "Create a new CloseButton UI component."
In many instances of our UI, we have a small X (well, technically, the Unicode character ×) that indicates that something can be closed or dismissed. Each time it's implemented, it is in raw HTML and as a variant of `<button class="close">×</button>`. Now that most of the application is in React, we have an opportunity to take a look at this UI element in a holistic way so that each time it appear

[2018-04-26 12:01] louh commented on #856
Follow up: this is doable. The hurdle is this:

We have a home-grown `getElAbsolutePos()` function that returns an element's position, taking into account position inside of a scrolled parent element. This only returns a left value and a top value, because HTML DOM only provides offsetLeft/offsetTop and scrollLeft/scrollTop values.

This 100% works _except_ in the case of RTL languages, like Arabi

[2018-04-26 13:37] treyhahn commented on #928
Good catch! This is fixed now, and I checked to make sure there were no other instances like this in Finnish.

![image](https://user-images.githubusercontent.com/12552044/39309201-6aedac56-4935-11e8-8c72-146e2fcf5b15.png)

![image](https://user-images.githubusercontent.com/12552044/39309219-76a686da-4935-11e8-93ef-754febe50995.png)

[2018-04-26 13:37] #928 closed

[2018-04-26 13:38] treyhahn commented on #901
Ok, got it. To clarify my question, do we still want to document our standards for this in the spreadsheet?

[2018-04-26 21:42] louh opened #938 "Remove i18next"
As we're porting to use `react-intl`, we can remove the dependency on the `i18next` library. This means removing the use the `data-i18n` attribute as well as the `t()` translation function. However, we may write a mock `t()` to "shim" the existing functionality as part of this removal process.

- [x] Switch loading indicator at app load to use a spinner instead of text, making it unnecessary to lo

[2018-04-26 21:45] #773 closed

[2018-04-26 22:05] louh commented on #833
I think we can (and should) make more obvious / friendlier tooltips, however!

[2018-04-27 15:53] louh opened #940 "Street date format is not consistent throughout the app"
They're all valid formats, but sometimes they're ISO strings, other times they're Unix time milliseconds (number) and sometimes it's that number but stringified.

[2018-04-27 17:51] treyhahn commented on #414
👋Hey @martoalalu! Did you ever make it on to the [Streetmix Slack](https://streetmix-slack.herokuapp.com/)?

[2018-04-27 17:53] treyhahn commented on #414
@magul Thanks so much for getting @w1stler involved! He's been great and Polish is almost done.

[2018-04-27 18:24] treyhahn opened #941 "Spanish translatons: standarize verb tenses for buttons/action prompts"
_This is a more "aspirational" item. Streetmix will still work without it, but it would be nice to figure out._

For the Spanish translations, we currently have a mix of conjugated forms for action prompts/buttons (see screenshots below). Should we use the infinitive form, conjugated command form, or something else? What is the correct way to standardize these? Do we even need to standardize them

[2018-04-27 18:47] treyhahn commented on #900
Hey @louh I haven't worked with graphics in code before, so I am not sure how to go about solving this issue. Where should I start? Or, would someone else be better for this issue? Here are links to a png and svg version of Open Collective's logo.

https://opencollective.com/public/images/opencollectivelogo.svg
https://opencollective.com/public/images/opencollectivelogo.png

[2018-04-27 18:55] treyhahn commented on #919
I think that's a great idea @louh, I just referenced that guide now. Thanks for the resources. I was worried the answers were a bit long, and this confirms it. I will try to trim them down to be more concise yet still clear.

[2018-04-27 21:50] #940 closed

[2018-04-29 16:08] #856 closed

[2018-04-29 16:08] #858 closed

[2018-04-30 14:29] flickz commented on #934
Working on it

[2018-04-30 16:03] flickz commented on #934
Passing inline style as optional prop should work?

[2018-04-30 17:46] flickz commented on #934
Buttons like this (https://github.com/streetmix/streetmix/blob/master/assets/scripts/dialogs/Dialog.jsx#L71) don't need to be replaced or should they?

[2018-04-30 17:52] louh commented on #934
Nope, just the ones that have a `×` as its only content and the class name of `close` specifically (e.g. https://github.com/streetmix/streetmix/blob/master/assets/scripts/dialogs/Dialog.jsx#L78-L84 in the same component)

[2018-05-01 13:07] louh commented on #912
While working on #945 I realized that there is a part of the street segments that should _hopefully_ be a nice, small chunk to break off and work on. It's the "empty space" segment which exists in the leftover space between actual segments and the width of the street.

Rationale:

- There is a function [`fillEmptySegments()`](https://github.com/streetmix/streetmix/blob/c2aa89aa8a1690bec11f7d9ecb1e

[2018-05-01 13:29] louh opened #946 "Localize measurement (width) display text"
Notes:

- Wrap `prettifyWidth` inside a React component with `<FormattedNumber>` or `<FormattedMessage>` as subcomponents
- Keep `prettifyWidth` for non React displays? (e.g. title text, prompt text)

[2018-05-01 17:54] louh commented on #912
In #948 we introduce a `<MeasurementText />` component which will be used instead of using `innerHTML` to render a `<wbr>` tag, for instance in situations like this. https://github.com/streetmix/streetmix/blob/c9935f18344a677772e7618c6e0408e53155f3ab/assets/scripts/segments/resizing.js#L82

[2018-05-01 19:51] #946 closed

[2018-05-01 20:34] treyhahn commented on #938
Hey @louh did #945 resolve this issue?

[2018-05-01 22:31] louh commented on #883
I think this has fixed itself, mind verifying? @treyhahn

[2018-05-01 22:32] louh commented on #891
Blocked until completion of #912.

[2018-05-01 22:33] louh commented on #752
This is superceded by #891.

[2018-05-01 22:33] #752 closed

[2018-05-01 22:38] louh commented on #938
Substantially, yes.

[2018-05-01 22:38] #938 closed

[2018-05-01 22:40] #33 closed

[2018-05-01 22:41] #214 closed

[2018-05-01 22:42] #181 closed

[2018-05-02 14:31] treyhahn commented on #883
Yes, it is now translating! :)

[2018-05-02 14:31] #883 closed

[2018-05-02 14:59] #902 closed

[2018-05-02 17:48] louh commented on #934
Closed with #949.

[2018-05-02 17:48] #934 closed

[2018-05-02 18:43] louh opened #952 "Use react-router to handle in-app routing"

[2018-05-02 18:44] louh opened #953 "HTTP errors (e.g. 404) should be handled by back-end"
step 1. redirect to server-side static 404 page (don't dynamically stop the app)
step 2. eventually, sever-side should handle bad routes so that the appropriate HTTP codes are served

[2018-05-03 14:35] mohiashi opened #954 "Bug report"
Since yesterday it seems that the system doesn't allow adding new blocks or exchanging their places. I've tried it in Chrome, IE and Firefox with the same results.

[2018-05-03 14:58] treyhahn commented on #954
Yes, you're right! We're going to look into this and fix.

[2018-05-03 15:04] treyhahn commented on #954
Hey @mohiashi everything should be working fine now. Feel free to reopen this issue if you're still experiencing a bug,

[2018-05-03 15:04] #954 closed

[2018-05-03 15:14] flickz commented on #953
Picking this

[2018-05-03 16:49] flickz commented on #953
Can I create a static page like the current?
![screenshot from 2018-05-03 17-34-14](https://user-images.githubusercontent.com/15707013/39590645-6f93ba10-4ef9-11e8-8ad4-e93ee203e9c3.png)

[2018-05-03 17:42] treyhahn opened #955 "Translation of dialog box that appears when you delete a street"
While logged in, I deleted one of "my streets". Only part of the dialog pop-up was translated. Is this correct/expected? I'm guessing my browser is set to English as the language, but I have the Finnish version of Streetmix up, so the message ends up being half and half.

This may actually be how we intend this to be. I am just bringing this up to double check.

![image](https://user-images.github

[2018-05-03 17:48] treyhahn opened #956 "Lag in translations for label text of bottom segment dock"
For the segment dock at the bottom of the UI where users can drag in new segments, translations are lagging behind by one language switch.

By this, I mean that after I changed from Finnish to Spanish, the labels displayed in Finnish.

<img width="1230" alt="finnish-to-spanish" src="https://user-images.githubusercontent.com/12552044/39593609-4992064e-4ed8-11e8-95ad-669db6a0fb54.png">

Additionally

[2018-05-03 21:10] louh commented on #953
Yep!

[2018-05-03 21:12] louh commented on #955
Your guess is correct. "From streetmix.net" and the buttons are browser UI that we have no control over. If you change your browser language to Finnish, you should see the full dialog box in Finnish.

[2018-05-03 21:50] mapmeld commented on #955
@louh @treyhahn It looks like part of the dialog - "Unnamed St" - ought to have been the translated "Nimetön Katu" here, though

[2018-05-03 21:53] treyhahn commented on #955
@mapmeld Wow, nice catch!

[2018-05-03 21:53] treyhahn commented on #955
Lou, do you see that within the dialog box?

[2018-05-04 02:32] louh commented on #955
Good eye! I've been wracking my brain trying to figure out what's going on here, because we absolutely do translate "Unnamed St" .... sometimes. So here's what I think is going on.

First, keep this in mind: we didn't always translate "Unnamed St". In fact, when a street has no name, we _assign_ to it the name "Unnamed St." This means that streets with no name, up until recently, are _literally_ n

[2018-05-04 16:08] flickz commented on #953
@louh My understanding of this issue is, we want to have a static page (from the server) to redirect to when errors like 404 occurs. My questions are:

- Do we create a static `404.hbs` that renders when there is a redirect to `/404`?
- How do we handle translations in this manner?

[2018-05-04 16:09] treyhahn commented on #955
Thanks for the thorough explanation @louh. Now I understand. It seems like the new way we have it organized is good, so I'm glad we made the change. I'm pretty sure that the `Unnamed St` in the previous screenshot was from a while ago and if I'm understanding correctly we made this change 15 days ago [here](https://github.com/streetmix/streetmix/pull/917).

When I make a new street now, it transla

[2018-05-04 16:11] louh commented on #955
I'm glad we worked it out!

[2018-05-04 16:11] #955 closed

[2018-05-04 16:27] louh commented on #953
This would be the simplest, yes. I'm not sure why there would be a redirect, though. See here: https://expressjs.com/en/starter/faq.html

The 404 page would be sent (rendered) whenever there is no available route to handle.

I'm not sure. I would do an initial implementation with English only, then investigate whether request has an [Accept-Language](https://developer.mozilla.org/en-US/docs/Web/HT

[2018-05-04 23:41] treyhahn opened #961 "Arrow from infobubble for buildings is not pointing at buildings"
This is another very small thing that I am bringing up just in case. When you hover over a building and the infobubble (apologies if this is the wrong word for this) pops up, the arrow is centered in the middle of the infobubble. However, because the building is on the very edge of the page, the center of this infobubble doesn't point to the building segment. Was this intentional or already though

[2018-05-05 00:02] treyhahn opened #962 "Potential bug when you drag a segment on a certain street URL"
When I interact with one specific street, a bug keeps happening. I really don't know what's going on because when I try to duplicate it with a different street URL I can't. However, whenever I go back to this URL (https://streetmix.net/-/685629) and try to drag a segment to to be next to the left hand side building, this happens:

![image](https://user-images.githubusercontent.com/12552044/3965717

[2018-05-06 15:46] louh commented on #961
Yes, it would be great if the arrow was pointing directly at the actual segment, but you are right that we have not addressed this before and we are not likely to prioritize work on it right now.

[2018-05-06 15:47] louh commented on #962
Interesting. The data is probably corrupt (or the code to handle the data is missing an edge case). Do you see any error messages in console?

[2018-05-06 15:47] louh commented on #956
Good catch, I'll take a look at it this week.

[2018-05-06 16:00] treyhahn commented on #962
Hmmm. Here is what showed up in the console.

![image](https://user-images.githubusercontent.com/12552044/39675125-bab3604a-5124-11e8-8b7e-b4fad49d4a74.png)

Not sure if this is relevant but on another note I don't know where the bus went. Now it's just a bunch of cars. And should it not create a new URL when I start editing the street? Maybe I'm missing something.

[2018-05-06 20:40] louh commented on #962
Thanks, this is helpful. Here's what's going on.

This bug occurred as a result of making it possible to have `null` value for street names. The bug you observed will happen on any street that has a `null` street name _and_ is not "owned" by anyone (basically, a street with an anonymous creator, which is the case whenever a user is not signed in). Any time that street is modified, it will attempt

[2018-05-06 20:57] #962 closed

[2018-05-06 22:11] louh commented on #847
I'm assuming this is taken care of. Thanks @flickz!

(Note: I have seen the Python errors on Windows, but I believe they might only be required as part of the build process of some of the dependencies. They don't seem to affect anything when running Streetmix.)

[2018-05-06 22:11] #847 closed

[2018-05-07 11:27] louh commented on #927
Fixed via https://github.com/streetmix/streetmix/pull/947.

[2018-05-07 11:27] #927 closed

[2018-05-07 11:47] louh commented on #874
@flickz I've updated #875 with some more context. Ideally, that issue happens first, despite being one issue number higher than this one.

Here, we want to update the [user model](https://github.com/streetmix/streetmix/blob/02a16250a0ec19b4765396c3381034331f161194/app/models/user.js) so that users can have flags that are always enabled and disabled for that user.

[2018-05-07 15:42] flickz commented on #875
`app/data/` will be better I think

[2018-05-07 16:03] flickz commented on #875
So here is a rough overview to me:

- Move the [file](https://github.com/streetmix/streetmix/blob/7dc4fb3b43ec638fcc61d9dada745e6ceeac9b28/assets/scripts/app/flag_data.js) to `app/data/flags.js`
- Create a `GET` API endpoint `/flags/:name`  (This returns specified flag name)
- Update the [flag_util.js](https://github.com/streetmix/streetmix/blob/7dc4fb3b43ec638fcc61d9dada745e6ceeac9b28/assets/scri

[2018-05-08 20:34] louh commented on #875
This should be a `json` file, but I think you did that already in your ongoing branch, so 👍

What is the intended response from this API? Does it take into account who the user is and what flags are activated for them? I think it would also make sense to have an API `/flags/` without the slug to return the value for all flags.

Accordingly, would there be a corresponding `POST` or `PUT` request to

[2018-05-09 15:21] louh opened #967 "Right side empty segment dimension lines should go all the way to the top"

[2018-05-09 20:41] treyhahn commented on #941
I spoke with another one of our translators, Patricio, and he suggested that verb conjugation can be contextual. He said we should also consider that using the infinitive may be interpreted as presenting more of an option than the command form (which can be friendly, but could also be interpreted as an obligation).

He recommended that we look at each verb and and make the decision on it individua

[2018-05-09 20:44] treyhahn commented on #878
A translator, Patricio, said there is a more concise and clear way to translate the shift key. I will loop back with him about the delete key.

[2018-05-09 20:57] treyhahn opened #968 "Forums site potential loading issues"
The forums site can be accessed at http://forums.streetmix.net/. When directed to the site from the Streetmix app, I arrive fine. However, when I type in `forums.streetmix.net` on my own sometimes my browser has been leading me to https://forums.streetmix.net/, which gives an error:

![image](https://user-images.githubusercontent.com/12552044/39839339-cf4b6098-53a9-11e8-93ce-118c97aaf67c.png)

I'm

[2018-05-09 22:04] louh commented on #941
I appreciate the level of attention and care that's being put into this and I think that this would go a long way when working with a Spanish speaking community. (It may also be helpful to document or note the rationale for each conjugation so that if anything needs to be reconsidered in the future, we know how we got there to begin with.) Thanks for looking into it!

[2018-05-10 14:51] treyhahn commented on #968
Since this is outside of the scope of the repository, I am closing this issue. I have noted it as a general Streetmix to-do item.

[2018-05-10 14:51] #968 closed

[2018-05-11 20:36] treyhahn commented on #882
Update: As of today, it looks like 3 out of the 6 prompts are translating.

`segments.sidewalk-wayfinding.description.prompt` (Wayfinding sign)  ✓
`segments.parklet.description.prompt` (Parklet) ✓
`segments.bike-lane.description.prompt` (Bike Lane) ✓
`segments.bike-lane.details.inbound|colored.description.prompt` _(Colored Bike Lane) --> for some reason I can't find this string in the interface an

[2018-05-13 01:21] louh opened #969 "Create separate description strings for "red" and "green" bike lanes."
From #882:

The split from `colored` bike lanes need to become `red` and `green` in https://github.com/streetmix/streetmix/blob/master/assets/locales/en/segment-info.json#L88-L110.

[2018-05-13 01:41] #882 closed

[2018-05-14 13:31] louh opened #976 "Replace protractor with cypress"
[Cypress](https://www.cypress.io/) is a great end-to-end UI test platform for JS apps.

Protractor is an end-to-end framework for Angular-based apps, but we're not Angular based, so I think we can get more bang for our buck (the UI testing) via Cypress.

[2018-05-14 18:24] #953 closed, assigned to flickz

[2018-05-14 18:27] flickz opened #977 "Port Twitter authentication to Auth0"
Details on this will be added later.
[Update]
The following steps explain the process of moving authentication to auth0

- Sign-up
- Streetmix on Auth0
- Install Auth0 dependency
- Determine a pipeline to [migrate](https://auth0.com/learn/migrate-user-database-auth0/) (or sync) existing user database to Auth0 on the staging environment
- Add Auth0 API tokens to the staging environment. Do not comm

[2018-05-14 21:46] treyhahn commented on #969
This and the other stuff from this weekend is great progress on localization Lou! I will get to reviewing everything I was mentioned on tomorrow.

[2018-05-15 11:43] flickz commented on #977
@louh Auth0 provides [automatic](https://auth0.com/docs/users/migrations/automatic) migration which I'm currently setting up. Do check it out and let me know what you think with their process. Users data will be moved to auth0 as they authenticate by executing a predefined script (this script is just Mongodb Nodejs API on CRUD basically). The script will be defined when setting up Auth0 database.

[2018-05-15 18:14] #881 closed

[2018-05-15 19:28] treyhahn commented on #882
Let me know if I'm making sense or not. This is something separate from the translations.

[2018-05-15 19:33] treyhahn commented on #969
Will we still have the same description for red and green bike lanes? If so, does it make sense to split them into 2 different strings in the `segement-info.json`? Or is that not necessary? I may be missing something here.

[2018-05-15 19:38] louh commented on #969
Yes, they will both be the same. No, it does not make sense to duplicate the strings. However, it will be necessary to do so with the data model we have. I would like to revisit the data model in the future to handle translations for segment text, but that will be a separate proposal.

[2018-05-15 20:08] louh commented on #977
OK. It looks like "porting" is not quite what we expect because we don't have an existing database with username and password.

I think what we can do is set up Auth0 as a separate and standalone authentication method, then use it (via Auth0.js) to login via Twitter. (Keep our own home-grown method running at the same time, though, until we are ready to flip the switch.) When logging in with Twitt

[2018-05-15 20:15] #969 closed

[2018-05-16 15:27] louh commented on #891
We are currently using a workaround that @mkong0216 wrote in #982 for this, but #912 is still ongoing.

[2018-05-16 15:27] #891 closed

[2018-05-16 15:45] louh opened #983 "Dev environment: Node server is unable to start, error includes EADDRINUSE: 8000"
For anyone running Streetmix in a dev environment (observed in Mac OSX), sometimes a Node server does not shut down cleanly, which means the next time you run `npm start` to restart the server, Node continually crashes with an error message that includes the large error code `EADDRINUSE: 8000` (something like this). This issue documents a workaround and creates a call-to-action to invite an invest

[2018-05-16 19:25] treyhahn commented on #878
For shift, we will use `Mayús` and for backspace we'll use `Suprimir`. Sometimes `Suprimir` is abbreviated as `Supr` but for the context where it is used right now, the long version will work fine. The Transifex strings have been updated accordingly.

Patricio sent me this image for reference:
![image](https://user-images.githubusercontent.com/12552044/40138961-54682d52-591c-11e8-8d00-0cecb6771418

[2018-05-16 19:25] #878 closed

[2018-05-17 14:38] treyhahn opened #988 "Create a special URL for previewing languages"
A query parameter can be added to the end of the URL to activate level 3 languages. This would allow people to preview languages before turning on the flag.

[2018-05-17 14:56] treyhahn opened #989 "Turn on local translation files before launch"

[2018-05-17 15:16] treyhahn opened #990 "Use Transifex translations automatically on staging"
Since the production app will use local translation files, it would be good to enable real-time viewing of Transifex translations in the staging app. This will enable translators to see how their work appears in the UI in realtime.

[2018-05-17 15:33] mkong0216 opened #991 "Lag in segment warnings when using WidthControl"
I noticed that when you resize the segment using the WidthControl component and not the dragging, that the segment warnings get displayed one step behind.

As seen in the image below, the segment width value shows the red warning width, but the segment infoBubble does not display the segment warning. It is only when something re-renders the view that the segment warning is displayed.

![screen sho

[2018-05-17 18:34] louh commented on #991
good catch!

[2018-05-17 22:18] #808 closed

[2018-05-17 22:19] #988 closed

[2018-05-17 22:19] #989 closed

[2018-05-17 22:20] #991 closed, assigned to louh

[2018-05-19 18:32] treyhahn commented on #414
Hey everyone, good news: we are just about ready to launch a localized Streetmix in 3 initial languages. 🎉🎉🎉Thanks everyone for your hard work on this over the last few years! 🙇 More info is on the _#translations_ channel in [Slack](https://streetmix-slack.herokuapp.com/).

[2018-05-19 23:37] Ayush-Rawal commented on #983
@louh

- Yes

- Yes, it is the server causing the problem but it is not due to the express framework

- 1. Unlikely
   2. No

- Yes it does

EADDRINUSE is thrown when another process is utilizing the port you're trying to connect to. In this case it is due to the node process continuing to run in the background.

I don't know of a solution to this except manually killing the process.

To stop this

[2018-05-22 21:03] louh commented on #977
Leaving some notes here. This is a checklist of actions for launching this in production.

1. On the Twitter authorization screen, make sure that application name, ID, description, and image matches the current auth screen.

<img width="734" alt="screenshot 2018-05-22 16 29 18" src="https://user-images.githubusercontent.com/2553268/40389994-cc0d71cc-5de1-11e8-8361-04763cf0b195.png">

2. Make sure

[2018-05-22 22:40] louh commented on #983
Would it be possible to restore the process back into the foreground?

[2018-05-24 14:04] mwichary opened #997 "“A few seconds ago” should not appear when editing, just when viewing."
“A few seconds ago” should not appear when editing, just when viewing – it’s just clutter otherwise.

I believe this is a regression.

![image](https://user-images.githubusercontent.com/2061609/40490548-a8d80c2c-5f20-11e8-9b62-64793e05f516.png)

[2018-05-26 19:29] Ayush-Rawal commented on #983
Not by any way I'm aware of.

[2018-05-29 21:56] treyhahn commented on #941
The standard will be to use the infinitive form for verbs that we want to convey the action as an option. The majority of verbs fall into this case, with some examples being `Save as image...`, `View source code on GitHub`, and `Copy and paste this link to share:`.

All verbs that we choose to conjugate should have rationale documented on Transifex (translators can leave a comment on the string th

[2018-05-29 23:27] treyhahn commented on #941
This is now complete, and comments have been left on conjugated verbs in Transifex.

[2018-05-29 23:27] #941 closed

[2018-05-30 08:25] louh opened #999 "InfoBubble issues"
Follow up from #998

- The descriptionVisible state isn't being reset when the a description is open, but then the info bubble points to a new segment. This results in a larger than normal hover polygon area or the description of the next segment being visible although it wasn't opened on purpose.
- When a segment is deleted, the info bubble briefly takes on the content of a neighboring segment wh

[2018-05-30 08:54] louh opened #1001 ""Save as image" dialog box header has a trailing "e" in Japanese"
It doesn't look like that "e" at the end of the title is supposed to be there.

<img width="795" alt="screenshot 2018-05-30 01 51 40" src="https://user-images.githubusercontent.com/2553268/40709969-53045374-63ac-11e8-8768-6835fcdf9f6d.png">

[2018-05-30 08:56] louh commented on #967
Resolved with ecefaf93a1333751681040b910700148709dac48

[2018-05-30 08:56] #967 closed

[2018-05-30 17:38] treyhahn commented on #1001
Good catch! This is now fixed in Transifex.

[2018-05-30 17:38] #1001 closed

[2018-05-30 18:15] louh opened #1004 ""Save as image" image does not translate segment names"

[2018-05-30 23:26] louh opened #1006 "redesign settings menu"
via @mwichary:

I totally agree about the Settings menu! This is a good idea as well.

[2018-05-30 23:29] louh opened #1007 "Reposition loading screen logo"

[2018-05-31 00:06] treyhahn commented on #1007
I can't put a finger on why, but this did feel a bit weird to me as well.

[2018-05-31 01:12] #1007 closed

[2018-05-31 08:43] flickz commented on #977
Think we can close this now!

[2018-05-31 08:43] #977 closed

[2018-05-31 16:02] treyhahn opened #1010 "Format backspace key to look like a keyboard (for French translations)"
Our French translator Philippe says that the `backspace` key ideally would be displayed like this in the translation, as it reflects what is actually on the keyboard:

![image](https://user-images.githubusercontent.com/12552044/40793208-ce403da0-64c9-11e8-970e-62e371ed4629.png)

⌫ and ← are both options. ⌫ seems to be used on EU keyboards, while ← is used in North America. Philippe prefers ←. Sinc

[2018-05-31 16:03] treyhahn commented on #1010
This isn't urgent to fix, and for now we left it simply as `Backspace` (untranslated).

[2018-05-31 16:04] treyhahn commented on #1010
I attempted to work around this by adding spaces to the translation in hopes of expanding the size of the box, but it did not work. See the full conversation we had on Slack [here](https://streetmix.slack.com/archives/C6YC2KGAE/p1527707277000236).

[2018-05-31 18:56] louh opened #1011 "Consider adding Intl polyfill"
A large number of users (on Safari 9 or Mobile Safari) are running into issues with localization. Details: https://sentry.io/share/issue/105e42a0e747423cbae4cf26d88a8076/

Polyfill: https://github.com/andyearnshaw/Intl.js

Questions: can we conditionally load this polyfill?

[2018-06-01 15:00] treyhahn opened #1012 "Languages are displayed in brackets in the English settings menu"
The list of languages has brackets when the site initially loads, then they go away once a language is selected.

The brackets are from the placeholders, and are a signal that the language hasn't been translated.

![image](https://user-images.githubusercontent.com/12552044/40847612-dd2cfdf0-658a-11e8-9c39-952fcbf507be.png)

[2018-06-01 15:12] treyhahn opened #1013 "Donation nag screen isn't translating in French"
Philippe (French translator) noticed this. I couldn't replicate the bug because the “Streetmix needs your help” message only comes up after 2 weeks, and my browsing data was recently cleared.

I'm not sure if this is just an issue for French or if it is for all languages.

Here is a screenshot from him:
![image](https://user-images.githubusercontent.com/12552044/40848177-6bc48816-658c-11e8-9d73-40

[2018-06-01 15:16] treyhahn commented on #1013
Update: it does it with Spanish as well.

[2018-06-02 20:29] #1013 closed

[2018-06-03 09:39] stefan-gisworks commented on #839
Hi, PostgreSQL has excellent JSON capabilities. So there is no need to normalize the data model. I did some coding on streetmix with postgresql a year ago. I have two tables pgusers and pgstreets. If interested I could mail my code and postgresql dump to someone. Example:

CREATE TABLE streetmix.pgstreets
(
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  namespaced_id integer,
  status character

[2018-06-04 19:35] treyhahn opened #1014 "Duplicate string in segment-info.json: "Angled""
In #1003 the majority of duplicates were removed from `segment-info.json`. However, the “Angled” string still has duplicates.

https://github.com/streetmix/streetmix/blob/a0920fc1f9815c27b197e0eca78d6e316127513f/assets/locales/en/segment-info.json#L141-L144

At some point, we may want to revisit the structure around this group of strings. This is not an immediate priority.

[2018-06-04 20:56] treyhahn commented on #1006
While we are redesigning the Settings menu, we may want to think about the other menus in the header as well. Elizabeth, our product expert, brought up the possibility of including a link to our [merch store](https://www.designbyhumans.com/shop/Streetmix/) somewhere.

Other things we may want to think about are:
-About us (think about the content → founder(s), team, location, other items?)
-Readme

[2018-06-04 22:30] treyhahn opened #1015 "Header/footer redesign?"
#1006 brings up redesigning the settings menu. A larger project down the road may be to redesign our header and/or add a footer. Elizabeth, our product expert, brought this up and mentioned we may want to include a link to our [merch store](https://www.designbyhumans.com/shop/Streetmix/) somewhere.

Other things we may want to think about for the header/footer are:
-About us (think about the conte

[2018-06-06 01:22] louh opened #1016 "#floors in Japanese does not display the number"
See inside the floor input box where it's displaying `＃階` instead of `4階`.
<img width="454" alt="screenshot 2018-06-05 18 20 47" src="https://user-images.githubusercontent.com/2553268/41010583-44754520-68ed-11e8-95a6-9c3f5a989821.png">

[2018-06-06 01:27] louh commented on #1010
For something like this to be done we will need to adjust the styling of the key in CSS, but we currently have no mechanism to have the stylesheet be based on user locale. This may eventually be helpful, but I think what will drive this is whether something like "Backspace" is not understandable by an average French person.

[2018-06-06 01:43] louh opened #1017 "Update Polish translations"
Comments from @mwichary:

- the translation for "Unnamed St" should be "Ul. Nienazwana"
- labels for `width.label` (`{width}szerokość`) (and possibly also `width.under` and `width.over`) is missing a space between the width and the text
- String `dialogs.geotag.add-location`, translated as `Dodaj lokalizację`, means "Add localization" instead of "Add location"
- For `key.backspace`, translated as

[2018-06-06 14:49] flickz opened #1018 "Update the error messages in Auth0 Twitter authentication"
The error messages in [twitter_auth0_sign_in.js](https://github.com/streetmix/streetmix/blob/master/app/controllers/twitter_auth0_sign_in_callback.js) needs to be updated since they were just copied directly from previous [twitter_sign_in.js](https://github.com/streetmix/streetmix/blob/master/app/controllers/twitter_sign_in.js)

[2018-06-06 17:23] treyhahn commented on #1018
@flickz Does the user ever encounter these error messages?

[2018-06-06 18:41] w1stler commented on #1017
1. I would stick with: "Bez nazwy".
2. Already done.
3. What do you prefer - "Dodaj tłumaczenie"?
4. I have left: "Backspace".
5. Should be consistent right now.

@mwichary , please have a look on ponts 1 & 3. I am giving it back to the testers (more issues have been found and already corrected). ;-)

[2018-06-06 18:45] treyhahn commented on #1017
Thanks @w1stler and @mwichary!

[2018-06-06 18:50] treyhahn commented on #1010
I checked in with Philippe and he said that if there's a complaint, we can look into making changes. Otherwise we should be fine on this for now.

[2018-06-06 18:58] treyhahn commented on #1017
We have 1 untranslated string left: `flex zone`. @mwichary Do you have any thoughts on how this may translate to Polish?

[2018-06-06 19:19] treyhahn commented on #1016
Good catch! I'm looking into this now.

[2018-06-06 19:32] treyhahn commented on #1016
This should be good to go in Transifex now. See on staging:
![image](https://user-images.githubusercontent.com/12552044/41060411-9f781460-699d-11e8-95b4-c267ee7c5a90.png)

My guess on why this happened is that the LGO translator used a symbol character that was slightly different than what Transifex recognizes for this string: ＃ vs #.

I've updated the character for the `# streets` string as well.

[2018-06-06 19:33] treyhahn commented on #1016
@louh Can you run the script to refresh the Japanese translations from Transifex? Is running it easy enough for me to learn so I can do it myself in the future?

[2018-06-06 19:44] treyhahn opened #1020 "New segment option request: empty railway"
Trent on the forums says it would be great to have an option to have a railway be empty:

For full post see here: http://forums.streetmix.net/t/request-disused-railway-as-option-to-light-rail/220

[2018-06-06 19:51] flickz commented on #1018
No, just the server log. Users don't get to see it.

[2018-06-06 19:57] treyhahn commented on #1017
@w1stler Brought up another item: in Polish, we should write a space between the amount and the unit. (eg. `24m` in polish should be `24 m`).

He gave this good reference link: http://www.rjp.pan.pl/index.php?option=com_content&view=article&id=1045:spacje-w-oznaczeniach-miar&catid=44&Itemid=145

I am thinking about how to go about making this happen in Streetmix. Right now it looks like this:

![i

[2018-06-06 19:59] treyhahn commented on #1018
Thanks. Just checking in case we need to add it to the `main.json` translations file.

[2018-06-06 20:04] louh commented on #1016
Theoretically, running the command is not hard. It is:

[code]

Full steps are as follows:

1. Open Terminal
2. Set your current working directory to the location of the repository
3. Make sure you have the latest version of the repository (`git pull` and resolve conflicts if necessary)
4. Check out a new branch
5. Make sure `node` exists and is a recent version (test this with `node --version` an

[2018-06-06 20:05] louh commented on #1016
Great catch on the different hash symbol, too! I didn't realize that would have been the error.

[2018-06-07 14:49] PhilippeProvost opened #1021 "[French] Segments names disappear when printing/exporting in image format"
As the title says, when printing or exporting in image format in French, there are some segments names that doesn't appear.
When editing :
![image](https://user-images.githubusercontent.com/34313362/41107366-3675cee6-6a40-11e8-8f9a-deef241a0159.png)
Exported image :
![image](https://user-images.githubusercontent.com/34313362/41107377-3c0c2530-6a40-11e8-9682-72fecb988263.png)

[2018-06-07 15:10] louh commented on #1021
I responded to this elsewhere:

[2018-06-07 15:12] treyhahn commented on #1021
Hey Philippe, I encountered this yesterday for the first time too. Here is a link to the full thread where Lou explained: https://github.com/streetmix/streetmix/pull/1019#issuecomment-395264755.

[2018-06-07 15:23] treyhahn opened #1022 "Localize tooltip "Change width of the street""
This tooltip is not translating:
![image](https://user-images.githubusercontent.com/12552044/41109197-635f65a8-6a44-11e8-96ae-e4ddcb761966.png)

Note: we already have a string in the translation file for this here (and it has been translated for the level 3 languages):
https://github.com/streetmix/streetmix/blob/0ed2e280608d6d464d0f332e601b58344464a134/assets/locales/en/main.json#L236

[2018-06-07 15:28] treyhahn opened #1023 "Augment the save-as-image functionality to draw wrapped text"
For languages whose strings have longer translations, segment labels are not appearing in the "save as image" feature. This would allow those to be displayed and would fix #1021 if implemented. See https://github.com/streetmix/streetmix/pull/1019#issuecomment-395264755 for more context.

[2018-06-07 19:47] #1022 closed

[2018-06-07 22:19] treyhahn opened #1025 "Adding a space in measurement in Polish"
In Polish, we should write a space between the amount and the unit
(eg. `24m` in polish should be `24 m`). This isn't a problem for feet units because it uses `'` which doesn't require a space according to this link (courtesy of @w1stler): http://www.rjp.pan.pl/index.php?option=com_content&view=article&id=1045:spacje-w-oznaczeniach-miar&catid=44&Itemid=145

Right now it looks like this (without th

[2018-06-10 15:01] louh commented on #1025
Technical context: the localization process only converts the raw number (e.g. `5.25` to `5,25`), and it has no knowledge of measurement. The unit `m` is appended to the value when formatting it for display. We had assumed that as an international standard for measurement, display of these values would not differ greatly between locales, but if this is not the case, we would either need to special

[2018-06-10 15:03] louh opened #1029 "Unlink background sky position from the scroll event listener"
In Firefox, Streetmix will log this message into console:

[code]

It doesn't point out what the offending effect is, but I suspect it's [the background](https://github.com/streetmix/streetmix/blob/4020d1329269d0c2e0a14d55f5480ecb867f9501/assets/scripts/app/SkyBackground.jsx#L25-L48), whose position is determined by [the horizontal scroll position of the street](https://github.com/streetmix/street

[2018-06-10 15:03] louh opened #1030 "Add cache-busting mechanism for CSS urls"
Our CSS stylesheet tends to be cached aggressively, which is great for the loading experience for repeat visitors, but whenever our stylesheet changes, the newest styles aren't always available. This results in new features with updated styles looking broken and incomplete for some viewers (one recent example: https://github.com/streetmix/streetmix/pull/1026#issuecomment-395810271).

We have a cac

[2018-06-10 15:36] louh opened #1031 "Update menu items to use unordered list and list item elements"
#1026 incorporates a generic menu-item HTML/CSS structure with unordered lists (`<ul>` and `<li>`), an ancient and venerated practice that has also been adopted by web frameworks like [Bootstrap](https://getbootstrap.com/docs/4.0/components/navbar/) and [Foundation](https://foundation.zurb.com/sites/docs/dropdown-menu.html), to the new Settings menu. Currently, our other menus are a sequence of `<

[2018-06-10 16:34] louh commented on #1018
Closed in #1028.

[2018-06-10 16:34] #1018 closed

[2018-06-10 16:41] louh commented on #1016
Translations updated, this is now fixed.

[2018-06-10 16:41] #1016 closed

[2018-06-11 17:03] louh commented on #912
Follow up to-do's:

- [ ] When a segment is animating away (due to being removed), the remaining segments on either side should slide in to fill the gap, instead of filling in the gap immediately.
- [ ] When the infobubble is being supressed while the segment is animating away, it should be unsuppressed after the animation is complete, so that the segment that is now under the mouse cursor should

[2018-06-12 19:57] treyhahn commented on #1025
After researching, I could not find answers to any of the questions posed. However, it should be noted I don't have much knowledge on standards and there very well may be answer out there that I couldn't find.

For future reference, here are some relevant links I found:
A Polish style guide from Microsoft: http://download.microsoft.com/download/3/e/6/3e688569-1e3f-48a4-a33c-07e6daaa57b4/pol-pol-St

[2018-06-12 19:58] treyhahn commented on #1025
As a hunch, I would also guess that there are other languages with differences in formatting units/measurements, although I am not sure which ones they might be.

[2018-06-12 20:24] treyhahn commented on #941
Note: String metadata for `segment-info.json` was lost when we reformatted the file in #1003, but the Spanish justifications have since been refilled. For the future, we are looking into [backing up string metadata](https://docs.transifex.com/api/resource-strings) to Transifex's API.

[2018-06-12 22:37] louh commented on #559
@treyhahn We're going to try have art for this available in conjunction with a Chinese language translation 😄

[2018-06-13 15:23] treyhahn commented on #559
Awesome! Translations will probably be ready in mid to late July for a late July/early August launch. How does that tentative timeline sound?

[2018-06-13 18:48] louh commented on #694
@treyhahn Can we close this?

Re: the standards on the Google sheet, do we still need that? Can we port the data to the Readme page so that everything is formatted and located in one place?

[2018-06-13 21:31] treyhahn commented on #1017
Got it. Yes, I misinterpreted it. The Spanish translation was describing a street without a name. I will update the string instructions in Transifex and the Spanish and Portuguese translation.

[2018-06-14 15:14] louh opened #1039 "Segment component should catch draw errors and display placeholder"
(Otherwise, it crashes the entire app on errors right now)

[2018-06-14 17:12] treyhahn commented on #694
Yes, it has been migrated to a readme [here](https://streetmix.readme.io/v1.0/docs/localization-documentation). It is noted that some of the information is outdated.

[2018-06-14 17:12] #694 closed

[2018-06-15 03:33] louh opened #1041 "Provide a failure mode for SearchAddress when an API key or geocode host is not provided"

[2018-06-15 03:53] louh opened #1043 "StatusMessage component sometimes does not display the status message"
The lack of a status message occurs when the translation files fail to load (this can happen locally if the connection to Transifex is slow or down). None of the status message calls provide a fallback. We can solve this by providing a fallback for each status message.

[2018-06-15 04:05] louh opened #1044 "Deprecate `propagateUnits()` function"
The function `propagateUnits()` in `./assets/scripts/users/localization.js` might be able to be removed. Every time it's called, it's only looking at Redux store state for street units. Therefore, instead of manually calling `propagateUnites()` in various update functions, one can also create a Redux [store observer](https://github.com/streetmix/streetmix/blob/7dc4fb3b43ec638fcc61d9dada745e6ceeac9

[2018-06-15 13:11] mkong0216 commented on #1044
@louh looking at it now 👍

[2018-06-15 21:22] mkong0216 opened #1046 "Rounding of segment widths and street widths off"
Sometimes rounding of widths end up having three or more decimal places.

[2018-06-15 22:26] louh opened #1047 "Use metric units by default"
Internally, units are stored as imperial units. Migrate to using metric units by default (including updating all data) for better worldwide use.

Project: https://github.com/streetmix/streetmix/projects/11

[2018-06-16 15:40] #1044 closed

[2018-06-17 15:32] w1stler commented on #1017
@louh I will change the translation based on your comment to be consistent with the original.

[2018-06-17 16:29] joerodrig opened #1048 "Installing npm modules on Mac OSX: Cairo not found"
When going through the npm install steps, I would get the error below:
[code]

To solve it, I ran `brew install cairo`. This was based off of the [stackoverflow answer here](https://stackoverflow.com/questions/22100213/package-cairo-was-not-found-in-the-pkg-config-search-path-node-j-s-install-canv)

To solve this for others, it may help to add a short troubleshooting section to the documentation,

[2018-06-18 11:37] flickz opened #1049 "Update Wiston (logging dependency) from 2.x to 3.x"
The current version of [Winston](https://github.com/streetmix/streetmix/blob/master/package.json#L144) needs to be updated to the [latest](https://www.npmjs.com/package/winston) along with [Logger.js](https://github.com/streetmix/streetmix/blob/master/lib/logger.js) due to changes in the API (Checkout the [upgrading guide](https://github.com/winstonjs/winston/blob/HEAD/UPGRADE-3.0.md))

[2018-06-18 11:48] louh opened #1050 "Source Sans Hans for CJK font support"
https://blog.typekit.com/2014/07/15/introducing-source-han-sans/

(Possibly only offline)

[2018-06-18 21:13] treyhahn commented on #1050
That looks great! Do you think this is a necessary thing for when we add Chinese in the near future (and maybe Korean sometime farther into the future), or would it still work fine without it?

[2018-06-18 21:16] treyhahn commented on #1017
I may be misinterpreting this, but we want "Ul. Nienazwana" right?

[2018-06-18 21:16] treyhahn commented on #1017
@louh @mwichary Is there anything else unresolved? Is this issue ready to be closed?

[2018-06-19 12:02] louh commented on #1017
Yes, Ul. Nienazwana

[2018-06-19 12:05] louh commented on #1017
@treyhahn Ball is in your court now. Please verify, follow up with @w1stler if necessary, and close when the specific issues listed above are either resolved or have been backlogged to separate issues.

[2018-06-19 12:08] louh commented on #1050
It's not necessary. System fonts usually include CJK already. However we may want to control how it looks (either for aesthetic or consistency reasons). Due to the size of this font it's likely to be impractical to download it for every user, though. It makes more sense to be bundled for offline / downloadable versions.

[2018-06-19 12:42] #1006 closed

[2018-06-19 14:33] mwichary opened #1053 "Super weird keyboard bug: Every keystroke extends the segment?"
I’m here: https://streetmix.net/mwichary/144
Chrome 67.0.3396.79

I tried to press Command+R to reload, but I only saw the hovered-over segment extending. Soon I realized every keystroke just extends the current segment. That even includes pressing and releasing Shift or Ctrl or the like. It feels like every key down acts as pressing the plus key. Perhaps a missing “break” statement somewhere?

[2018-06-19 14:52] treyhahn commented on #1017
All Polish translations are now complete and the app is in testing in Poland this week before a projected launch on June 26th. The last issue remaining here is the `Add location` string (dialogs.geotag.add-location).

This string is what we use to prompt users to geolocate theirs street using a map, like in the screenshot below:

![image](https://user-images.githubusercontent.com/12552044/41604355

[2018-06-19 15:11] mwichary commented on #1017
I am sorry, I double-checked just now and I made a mistake: Both
“lokalizacja” and “lokacja” are valid in Polish and mean the same thing
(location). Languages! Ugh. The current strings are probably good, so no
change is necessary. Apologies again.

On Tue, Jun 19, 2018 at 8:07 AM Trey Hahn <notifications@github.com> wrote:

[2018-06-19 15:36] louh commented on #1053
Derp! Thanks for the catch.

[2018-06-19 15:36] treyhahn commented on #1017
No worries! This issue can now be closed. I am looking forward to the launch :)

[2018-06-19 15:36] #1017 closed

[2018-06-19 15:59] treyhahn commented on #1025
Reflecting back on this now, I have 2 thoughts:
1. I don't think it's likely that we suddenly scale up the amount of languages Streetmix is translated into past 10 or so in the near future.
2. If there happen to be several other languages out there that do in fact have a demarcator for certain units such as Polish, there is a good chance they aren't one of those 10ish languages we launch.

For now

[2018-06-19 16:03] mwichary commented on #1025
Could it be as easy as adding a space in front of the `m` string to look like ` m`, and documenting its intentionality? Maybe no conditional would be necessary.

[2018-06-19 16:08] treyhahn commented on #1025
That's a great idea @mwichary, and would be easier. Unfortunately `m` is not a translation string right now. I think it's being added somewhere else in the app. @louh What are your thoughts?

[2018-06-19 16:10] #1053 closed

[2018-06-19 18:14] louh commented on #1025
Looks like the relevant part of the [NIST writing guidelines](https://www.nist.gov/pml/weights-and-measures/writing-metric-units) is:

[AMA Manual of Style](http://www.amamanualofstyle.com/view/10.1093/jama/9780195176339.001.0001/med-9780195176339-div2-483) will agree:

[Wikipedia Manual of Style](https://en.wikipedia.org/wiki/Wikipedia:Manual_of_Style#Units_of_measurement):

[USDM](https://usdm.u

[2018-06-19 18:28] #1025 closed

[2018-06-19 21:10] mkong0216 opened #1058 "Undo removal of segment bug"
Undoing a removal of a segment starts the switching away animation before displaying the removed segment. There should be no switching away animation.

[2018-06-19 21:49] louh opened #1059 "Changing language resets undo/redo buttons"

[2018-06-21 18:46] louh commented on #1049
I'll bump this today along with other dependencies. Stay tuned!

[2018-06-21 22:59] #1049 closed

[2018-06-23 19:19] #1043 closed

[2018-06-25 02:18] louh opened #1064 "Sign in UI prototype"
This is version 1 of the UI mockup for signing in.

![01](https://user-images.githubusercontent.com/2553268/41826541-2491a66c-77f8-11e8-83cc-fc162350b72f.png)

The first thing we'll do is move the logged-in "user" menu to the far right. This is to make Streetmix UI more consistent with other web apps where users expect the user menu on the upper right.

Because the avatar image is its own "separat

[2018-06-25 13:33] flickz opened #1066 "Add Sign-in menu to translation"
The sign-in menu has changed from just an item to a drop down menu that contains [Sign in with Twitter](https://github.com/streetmix/streetmix/blob/master/assets/scripts/menus/SignInMenu.jsx#L46) and [Sign in with Email](https://github.com/streetmix/streetmix/blob/master/assets/scripts/menus/SignInMenu.jsx#L33) (Google and Facebook Incoming).

NB: Email Authentication is behind [flag](https://gith

[2018-06-25 13:56] flickz commented on #1064
Looks cleaner!

[2018-06-25 14:17] flickz commented on #1064
@louh Any Idea on how to remove the separator without affecting other list items?

[2018-06-25 15:30] louh commented on #1064
@flickz There will be many options, including:

- The sign in button is not a list item, it lives outside the menu items
- Add a special class to the sign in button, and in the definition of the pseudo element, exclude the special class with a `:not` selector
- Add a special class to the sign in button and override the pseudo element that adds the separator

Try one and choose which one you prefer

[2018-06-25 22:05] treyhahn commented on #1066
Thanks for thinking about translations of the UI @flickz! I'm going to think about this for a bit and comment again with more thoughts.

[2018-06-25 22:14] treyhahn commented on #1066
I think getting the engineering and UI side of this done well is already plenty to focus on right now.

While it is important to think about translations (and the engineering side of enabling them), I think it will be best to not modify any of the [translation files](https://github.com/streetmix/streetmix/tree/master/assets/locales) until we have the English version of the UI 100% complete. That w

[2018-06-25 22:42] louh opened #1070 "Segment hover state is now much greedier than before"
Comment from @mkong0216 on #1069:

Continuing this discussion here!

I committed 6242e04d425eedd6125e15940fa57ff0621d4cf2 to `master` earlier today to make the infobubble hiding much less aggressive. This is because it is possible to hide the infobubble and drag handles (essentially "unhover" the segment) when the mouse is moving downward too quickly over the segment. I believe it's because the mo

[2018-06-25 22:42] #1058 closed

[2018-06-26 01:03] louh commented on #1066
Thanks for the comment, @treyhahn. Yes, the UI is still in flux here -- best not thrash the translation files until we are happy with the English experience.

[2018-06-26 02:15] louh commented on #1070
@mkong0216  I guess the most important question right now, was that commit disruptive enough we should revert it ASAP?

[2018-06-26 13:13] mkong0216 commented on #1070
@louh It was unexpected, but I don't think it is necessary to revert it ASAP.

[2018-06-26 18:17] treyhahn opened #1073 ""Sign in" and "Sign in with Twitter" strings are not translating"
This just started happening. I am looking into what is going on right now.

<img width="1183" alt="screen shot 2018-06-26 at 2 14 47 pm" src="https://user-images.githubusercontent.com/12552044/41931205-6941f5c4-794b-11e8-9f72-5d92d5b272a9.png">

[2018-06-26 18:39] treyhahn commented on #1073
The app can't find the following two strings:

- `menu.item.signin` ("Sign in")
- `menu.signin.twitter` ("Sign in with Twitter")

![image](https://user-images.githubusercontent.com/12552044/41931324-c0376120-794b-11e8-8748-6924bfa6d82b.png)

For "Sign in", we have a string in main.json but the key is `menu.item.sign-in`
We do not have any string that is "Sign in with Twitter"

[2018-06-26 18:48] louh commented on #1073
The incorrect key for `menu.item.sign-in` needs to be fixed; @flickz, please make this change in a separate PR.

The key `menu.signin.twitter` does not exist and was proposed in #1066. However, this will be superceded by the UI proposal in #1064, and we will not create new translation keys until the UI is finalized. However, we should continue to use `react-intl` and use proposed key references.

[2018-06-26 19:34] treyhahn commented on #1073
Ah, that's what #1066 was for. I didn't fully understand that before. Thank you for clarifying. @flickz How might we fix this in the short-term?

[2018-06-26 19:37] treyhahn commented on #1073
Once we resolve this issue (which I think is important since it is a pretty visible string users will encounter when they use Streetmix in another language), I'm also thinking about how we can avoid similar issues in the future. What do you guys think about this as a future workflow?

1. Engineering and English UI work
2. Various iterations on step 1
3. Do testing on English version and finalize
4

[2018-06-26 22:44] treyhahn commented on #1073
`menu.item.sign-in` ("Sign in") is fixed. Now I will go and fill in translations for `menu.signin.twitter` ("Sign in with Twitter") in Transifex.

![image](https://user-images.githubusercontent.com/12552044/41943288-d4e627e4-7970-11e8-9247-d55a19fd7451.png)

[2018-06-26 22:57] treyhahn commented on #1073
Apparently we had a string with the exact same contents before, so it autofilled!

[2018-06-27 01:38] #1073 closed

[2018-06-27 08:32] flickz commented on #1064
@louh Trying to get Twitter icon to fill `#fff` but doesn't seem to be changing.

[2018-06-27 12:20] louh commented on #1064
Try this:

[code]

[2018-06-27 15:21] flickz commented on #1064
Do we have Google icon on @streetmix/icons?

[2018-06-27 15:22] louh commented on #1064
We don't, but I would suggest copying the `<svg>` for it and adding it inline for now.

[2018-06-27 17:32] louh opened #1077 "Icon library thought-experiment"
Oof I meant to open a PR instead. See #1078.

[2018-06-27 17:34] #1077 closed

[2018-06-27 19:36] flickz commented on #1064
Trying to get the SVG but haven't seen any plain code. I'm thinking of waiting, should we decide to go for font-awesome, it will be easier to add then. Or what do you think?

[2018-06-27 20:39] louh commented on #1064
No, we want something to test, even if the code isn't perfect. If you can't find an svg, use a raster image.

[2018-06-27 20:58] flickz commented on #1064
Okay. How should error from auth0 while sending email be displayed?

[2018-06-27 21:35] louh commented on #1064
Will Streetmix know about the error before the last screenshot is displayed?

[2018-06-27 21:48] flickz commented on #1064
Yeah error could occur during the 2nd last screenshot.

[2018-06-28 16:51] louh commented on #1064
Sounds good. Let's get that in there, then we'll test it 😄

[2018-06-29 01:36] joerodrig opened #1080 "Write unit tests for errors reducer"
Add specs for the `SHOW_ERROR` and `HIDE_ERROR` actions for the errors reducer

I'm planning on adding some coverage specs for the existing redux reducers to better understand the codebase. If there's anything in particular I could help add coverage for, please let me know!

[2018-06-29 01:47] joerodrig commented on #1080
I submitted a PR at https://github.com/streetmix/streetmix/pull/1081 and I left a couple of notes for specs that I don't think should be able to pass, but don't want to alter any existing patterns to change that. As it stands, the `showError` method is called with the proper boolean value set all the time, except in one case where it's left blank on [this line](https://github.com/streetmix/streetm

[2018-06-29 12:55] louh commented on #1080
Thanks for the PR, @joerodrig!

You raise a good point about the `showError()` action and we definitely have an opportunity to improve this.

The first thing is that we can give the `abortEverything` variable a default value in case it is undefined.

[code]

This proposal should accomplish the same thing as the existing code..

But I think there's more to do. You also raised the point that passing

[2018-06-30 03:50] joerodrig commented on #1080
Thanks @louh. The requirements around what would be a valid value are where there may be some confusion. Previous projects I've worked on addressed this through Flow or Typescript inside the action files to be strict about param types passed in to ensure we only ever get a boolean param. Short of adding type checks though, forcing a boolean conversion would resolve most of these issues *but* will

[2018-07-01 12:56] #817 closed

[2018-07-02 18:22] joerodrig commented on #1080
I have less experience with Typescript, but have enjoyed working with it more than Flow. I used Flow on a few projects for awhile and there was a fair amount of maintenance involved as many breaking changes were introduced and hacky workarounds were needed in some parts. I'm a huge fan of type-checking when using Redux because you want to keep your actions and store as simple and predictable as po

[2018-07-02 19:12] louh commented on #1080
Sounds good, I'm sold. I'd be happy to start incorporating Typescript on the action creators and reducers. Is this something you're willing to help us incorporate into our build process?

If not (or if want to do that separately from this PR), would you mind fixing the `FIXME`s on this PR so we can merge it?

Thanks!

[2018-07-03 02:41] joerodrig commented on #1080
I've updated the specs to reflect the current solution around forcing a boolean. Hitting an odd issue with the Travis CI build though that maybe you could help with -- I'm not too familiar with how it works but it seems like some dependency has recently started acting up. Maybe we could carry that convo to the PR though.

Also, I'd love to help with adding Typescript to the build. Feel free to cre

[2018-07-03 03:38] #1080 closed

[2018-07-03 03:48] louh commented on #1080
The problem with Travis is that they recently switched to `npm ci` to install dependencies from cache, but something is breaking our cache -- not consistently, but enough to require us resetting our caches several times a day. We may need to override Travis to force `npm install` to keep things going.

I'll make an issue about Typescript and add you!

[2018-07-03 03:51] louh opened #1084 "Use Typescript for Redux action creators and reducers"
Rationale: https://github.com/streetmix/streetmix/issues/1080#issuecomment-401891719

cc @joerodrig Reply here so I can assign this to you!

[2018-07-05 18:17] joerodrig commented on #1084
Just to check in, I'm currently working on this in [this branch](https://github.com/joerodrig/streetmix/tree/typescript-browserify).

I've been able to get the type-checking working via the typescript `tsc` command.

The browserify builds are currently getting stuck in some type of loop though with the addition of the `tsify` plugin that is being used to compile the typescript files being used, ca

[2018-07-08 20:48] louh opened #1090 "After loading a street from gallery, pressing backspace on a segment deletes it and the leftmost segment at once"

[2018-07-09 13:15] mkong0216 commented on #1090
@louh: Does this bug occur by backspacing immediately after the street is loaded? I'm having trouble recreating this bug.

[2018-07-09 13:40] louh commented on #1090
So am I. I noticed it after some commits I made yesterday afternoon so I am pretty certain I introduced the bug, but after recording this issue (didn't want to forget about it!), I can't consistently duplicate it again either.

That being said, I noticed some other weirdness that _sometimes_ happens (and hopefully this narrows down the actual cause):

- Sometimes the backspace will delete one or t

[2018-07-10 21:57] mkong0216 opened #1093 "Building components are one behind when displaying warnings"
@louh I just noticed that after merging PR #1092, when the street segments get resized such that the occupied width is now greater than the street width, the buildings do not get styled with warnings until an update occurs in the Building component.

[2018-07-10 23:00] mkong0216 commented on #1093
Oops, my bad. I forgot this PR wasn't merged to master and was only merged to the branch I'm currently working on, so I probably shouldn't open an issue for this.

[2018-07-11 13:47] louh commented on #1093
Still, it's a good catch because it exposes a weakness in the refactored `recalculateWidth()` which is that it modifies the original `street` state and I believe this causes `<Buillding />` to not recognize the changes in the `street` prop. (Not sure how to explain it -- It's probably that the original prop is modified, which means the comparison check in its `componentDidUpdate()` fails to behave

[2018-07-11 13:50] mkong0216 commented on #1093
@louh Ah, yea. I actually realized that as well and made a commit in my current branch to use a copy of the street state...

[2018-07-11 13:56] mkong0216 commented on #1093
@louh Also regarding the `recalculateWidth()` function, it appears that when you undo/redo something, the `remainingWidth` and `occupiedWidth` does not get updated. We should probably fix that in your new branch?

[2018-07-12 03:54] johndierks commented on #1048
I ran into the same problem. Thanks for the tip.

[2018-07-13 19:41] louh opened #1097 "Thoughts about widths"
We need to talk about the way width values are used throughout the code.

Generally speaking, we have two types of widths:

- The "actual" width of something in real life, e.g. "this lane is three meters wide."
- The "display" width of something on the screen, e.g. "this lane segment is 120 pixels wide."

The fundamental confusion that exists in the code is that it is not always clear which width

[2018-07-13 23:55] louh commented on #1090
I think I've fixed it with 321d143142a54fe05d39359b4f29d6dc6c0473fd -- the symptoms are very much like event listeners that never got unbound.

[2018-07-14 15:59] louh commented on #1097
Examples of code smells from #1098:

### Reverse conversion from element width to actual width

Observed in `getVariantInfoDimensions()`,  (https://github.com/streetmix/streetmix/pull/1098/commits/5ec90fae5265b0b2dfc9d8ae14a44502ba494346#diff-b304003e2959e74572bba2ce8f3baa3eL82) which was especially egregious because this function signature required the `multiplier` argument solely to do this:

[c

[2018-07-16 13:23] louh opened #1099 "Move geo services to the backend"
This started appearing recently in console:

<img width="356" alt="screenshot 2018-07-16 08 20 13" src="https://user-images.githubusercontent.com/2553268/42758454-95e892e6-88d1-11e8-911c-df96407ec1e1.png">

(We use geolocation services to personalize some aspects of Streetmix based on a user's likely location: whether cars drive on the left or right-hand side; whether the user likely prefers metri

[2018-07-17 02:21] joerodrig commented on #1084
I've been able to get the app to compile through a mix of automated and manual build processes. A successful workflow so far has involved:
1) Running `tsc` and outputting the compiled JS and TS files to a `build` directory
2) Manually copying over JSON files that are imported through out JS/TS files. (Typescript doesn't compile JSON files)
3) Setting the Typescript(tsc) compiled entrypoint in brow

[2018-07-17 20:18] louh commented on #1084
For sure! This is really helpful, thanks @joerodrig.

I'm also curious what aspects of this would be easier / different if we went to a strictly Webpack based build process, which is an idea we've been kicking around.

[2018-07-18 17:07] mkong0216 commented on #1093
The same problem seems to be occurring for segments now when changing variants. The switching animation no longer works because the check for `prevProps.segment.variantString !== this.props.segment.variantString` always evaluates to `false`.

If I pass a copy of the `street.segment[dataNo]` object to `<Segment />` segment props instead of the `segment` object directly, it appears to fix the proble

[2018-07-23 19:56] louh opened #1106 "Fix HTMLtoTouch import"
@flickz Can you make a separate PR fixing the HTMLtoTouch import (in commit https://github.com/streetmix/streetmix/pull/1105/commits/c9fbe69994fcdce2671ca895d2b19871a497f74f, PR https://github.com/streetmix/streetmix/pull/1105)?

I think you are right that this is breaking because some UNIX-based systems treat filenames case sensitively, while Macs do not. This is likely the cause of breaking test

[2018-07-23 20:55] flickz commented on #1106
Alright.

[2018-07-23 21:59] louh commented on #1106
Thanks!

[2018-07-23 21:59] #1106 closed

[2018-07-24 17:17] johndierks opened #1110 "Package 'gobject-2.0' not found when running npm install on Mac OS X."
I'm trying to install/run streetmix locally on my mac, 10.13.3, and when I npm install, I get this error.

[code]

This is my development machine, so its OS is far from stock. Is this supposed to work by default? Or are the contributing guidelines missing a step? If so, I can update.

If not, I'll just hunt down getting the correct dependancies installed.

Thanks!

[2018-07-25 14:45] mkong0216 opened #1111 "Dragging and dropping segments when occupied width is greater than street width"
Due to react-dnd's drop target being connected to `<StreetEditable />`, when the occupied width of segments is greater than the street width, dragging and dropping segments near segments outside the width of `<StreetEditable />` causes the drag and drop functionality to think it is not within the canvas and automatically remove the segment. Also, the moving of the segments to make space for the dr

[2018-08-02 14:53] louh opened #1113 "Investigate SIGINT handler not running anymore"

[2018-08-02 14:53] louh opened #1114 "API requests do not handle nonexistent MongoDB connections"

[2018-08-02 14:54] louh opened #1115 "Connect to MongoDB inside an init function instead of running it as a side effect"

[2018-08-03 15:18] joerodrig commented on #1084
Sorry for the slow reply! It should be a bit easier to implement if Webpack was being used. Step 2 could be removed via the json-loader module, which would already be used on the project to compile json files, and the ts-loader module used to compile all of the Typescript files. There’s also more documentation and support for setting up Typescript via Webpack at this point. Of course, implementing

[2018-08-03 16:14] louh commented on #1084
Exactly my thought as well!

So given the limitations of compiling TS currently, and our desire to migrate to Webpack, we should probably do the latter first, and compile TS second.

[2018-08-09 13:33] mkong0216 commented on #1115
This was done within PR #1109. Should I close this issue now @louh ?

[2018-08-09 14:50] #1115 closed

[2018-08-09 16:04] mkong0216 commented on #807
Hey @flickz , you're no longer working on this right? Do you mind if I assign this to myself?

[2018-08-09 16:13] flickz commented on #807
Yeah please do!

[2018-08-09 16:15] flickz commented on #807
I'd appreciate a summary of how you were able to fix it.

[2018-08-10 16:20] treyhahn opened #1122 "Arabic formatting issues"
There are 3 formatting issues in the Arabic UI, discovered by @mapmeld:

1. In "Contact", "Contribute", and "Share" menu dropdowns, the social media icons need to be moved to the leading, right side of the menu
2. Use of Indic numerals for lane widths across the board - choice for Streetmix translator, but I think this is unexpected. In many situations the 0-9 numerals are accepted or more common,

[2018-08-11 00:53] treyhahn opened #1125 "Displaying "м" for meters in Russian"
Our translator @oxmap brought up to me that in Russian, meters should be abbreviated like `14 м` instead of `14 m`.

With a quick online search I found [this](http://www.metricmethods.com/SI_russian.html). It doesn't look like an official source, but I thought I'd at least add it to the discussion. The site says the informal symbol in Russian is `м`, and qualifies this with the following:

@louh W

[2018-08-11 05:50] oxmap commented on #1125
@treyhahn @louh Here is official Russian governemnt document on this http://government.ru/docs/all/70112/#
Thereis a table with SI unit and prefixes.

[2018-08-13 01:51] #1111 closed

[2018-08-13 03:43] louh commented on #1125
This is now the case, as of https://github.com/streetmix/streetmix/commit/50e851357230955907fc6bdf81634b10b43ad54a.

[2018-08-13 03:43] #1125 closed

[2018-08-13 12:51] louh commented on #751
Unfortunately, we're still observing this issue and receiving reports of it in other locales, so it's time to make an investment.

We'll need to deprecate Roadgeek and transition to something more well supported. Ideally, we can put the kerning issue to bed and in the meantime pick up a few additional Unicode characters. I'm looking at either [Interstate](https://store.typenetwork.com/foundry/font

[2018-08-14 14:04] louh commented on #1122
New issues.

- Building height display inside of the infobubble puts parenthesis in the wrong place, and formats number of floors with Eastern Arabic numerals. (see https://github.com/streetmix/streetmix/pull/1126#issuecomment-412642096)
    - We can't use @mapmeld's suggestion of putting things in `<span>`s because the display is actually an input element, which won't render HTML. Can we use a Un

[2018-08-18 20:27] louh commented on #1066
Done in https://github.com/streetmix/streetmix/commit/230a6ae5ba60109869527e3a7e18c647eda5608d.

[2018-08-18 20:27] #1066 closed

[2018-08-18 20:29] louh commented on #1012
Should no longer be a problem (fixed in https://github.com/streetmix/streetmix/pull/1026).

[2018-08-18 20:29] #1012 closed

[2018-08-18 20:29] #1064 closed

[2018-08-18 23:50] louh commented on #1099
After monitoring this in production, this seems to be running stably! All done. Any future issues regarding geolocation should go into new issues.

[2018-08-18 23:50] #1099 closed

[2018-08-18 23:51] louh commented on #1110
@johndierks do you still run into a problem installing this?

[2018-08-19 00:10] louh commented on #1090
Closing because symptoms have not resurfaced.

[2018-08-19 00:10] #1090 closed

[2018-08-19 00:30] #1059 closed

[2018-08-20 16:40] louh commented on #874
User roles/permissions/flags reference: https://syntax.fm/show/055/hasty-treat-user-role-systems

[2018-08-20 16:43] louh commented on #875
Complete in https://github.com/streetmix/streetmix/pull/966

[2018-08-20 16:43] #875 closed

[2018-08-22 18:41] louh opened #1133 "What's new in Streetmix overlay"

[2018-08-22 18:43] louh commented on #912
Done! (Any further problems, please open new issues!)

[2018-08-22 18:43] #912 closed

[2018-08-22 21:32] louh commented on #1041
Not important; server won't run without this configured.

[2018-08-22 21:32] #1041 closed

[2018-08-22 22:29] johndierks commented on #1110
@louh Yes, still having this issue. Last month I spent a while trying to work through it and eventually filed this, but haven't spent much time trying to get it working.

I just tried to have a coworker do an 'npm install' and he ran into similar missing dependancies. (Canvas, in his case.)

It seems there are steps missing from the contributor guidelines to get this up and running.

[2018-08-23 15:29] louh commented on #807
- If occupiedWidth is greater than (streetwidth + (building width * 2)), find the delta
- Update the buildings width and left/right position to account for delta, rerender buildigns. the goal is to have buildings width take up the same space as occupiedWidth
- street-section-canvas needs to update its left property by delta (or delta/2)

[2018-08-23 17:00] louh commented on #874
To do list. @mkong0216

- [ ] Store which flags are turned on or off to a User's entry in the database and update the MongoDB schema.
- [ ] When an authenticated `GET` request is made to `/api/v1/users/:user_id`, the response payload should include the flag data.
- [ ] Write a new `PUT` handler for `/api/v1/users/:user_id/flags` to update flags for a user. This `PUT` request should only be success

[2018-08-23 19:28] louh commented on #789
This seems to not be a problem anymore.

(One thing that does happen (but is expected) is if a result is near or just outside the current view, Leaflet will opt to pan over to that result, fitting the popup just inside the boundaries of the map. This is normal. To have popup not be overlapped by other UI we can set offset padding on the map. This is a small thing and can be addressed on its own la

[2018-08-23 19:28] #789 closed

[2018-08-23 19:46] louh commented on #1110
Looks like this is similar to #1048?

Do the installation instructions here help? https://github.com/Automattic/node-canvas/tree/v1.x#installation

Alternatively, it looks like the latest version of `canvas` (which is still in alpha, and Streetmix doesn't use yet) does not require these dependencies, because `npm install` will download pre-built binaries. Does `npm install canvas@next` work? See:

[2018-08-23 19:47] louh commented on #1048
I'll close this in favor of further discussion in #1110.

One thing to note is that the next major version of `canvas` will download pre-built binaries for common systems, so I'll keep an eye on this. If we can save an installation step, that would be ideal.

[2018-08-23 19:47] #1048 closed

[2018-08-26 19:30] manikdhupar commented on #1046
@mkong0216 is it resolved?

[2018-08-27 12:06] louh commented on #997
It hasn't been - what do you propose?

On Sun, Aug 26, 2018, at 3:20 PM, Manik Dhupar wrote:

Links:

  1. https://github.com/louh
  2. https://github.com/streetmix/streetmix/issues/997#issuecomment-416062563
  3. https://github.com/notifications/unsubscribe-auth/ACb1tCFyut-yUXWt0imqBJ_GLYGN2U-hks5uUvTwgaJpZM4UMUHr

[2018-08-27 13:51] mkong0216 commented on #1046
@manikdhupar I haven't seen it happen in a while but it's difficult to recreate consistently. Have you seen it happen?

[2018-08-27 14:28] manikdhupar commented on #997
@louh we could do like if event.target.value changes, defaultMessage=null
I am new to open source and want to contribute to streetmix, can you assign this issue to me?

[2018-08-27 17:51] louh commented on #807
Yeah, I see what you mean. I think it's worthwhile to consider that. The bottom line is that the full street container is always the greater of one of the three values:

1. The designated street width plus a default width of the building space on either side;
2. The width of the browser viewport, if greater than the total space in 1.
3. The occupied street width, if overflowing and greater than th

[2018-08-27 19:52] #833 closed

[2018-08-27 20:03] manikdhupar commented on #1046
No. Never seen with more than 2.

[2018-08-28 13:09] louh commented on #1046
I haven't seen this come back either recently. Whatever it was, perhaps it's fixed?

I'll close this for now, but it is observed again feel free to re-open this issue or create a new one with steps to duplicate the bug.

[2018-08-28 13:09] #1046 closed

[2018-08-28 13:27] louh commented on #997
@manikdhupar Let's work through a viable solution to this first. I have an idea of what needs to be done, but we don't have a perfect mechanism for it yet. I wouldn't want to assign you something that has a much lower chance of success.

I'm not sure what you mean here.

I assume you mean the `defaultMessage` prop of a `FormattedMessage` component. In this case the relevant container component wou

[2018-08-28 16:19] mapmeld commented on #1122
OK I did some research into this:

- On Wiki articles such as "Tyrannosaurus", Arabic writes meter as "متر" placed after Latin numerals in the string.  Inside a ```dir="rtl"``` block that appears to the left of the number:

<div dir="rtl">
12.3 متر
</div>

- The input is in a ```non-variant``` class div, meaning that any ```input``` element has CSS ```direction: ltr``` applied to it. I don't recom

[2018-08-28 17:03] louh commented on #997
One way to do this is to tap into the same mechanism that causes the `<WelcomePanel />` component to dismiss itself. https://github.com/streetmix/streetmix/blob/6d19f3bca849a312cce30cd08c083690f1146497/assets/scripts/app/WelcomePanel.jsx#L62-L63

[2018-08-28 18:29] #1030 closed

[2018-08-28 18:29] #1133 closed

[2018-08-28 18:35] louh commented on #1122
Interesting. Thanks for looking into this, @mapmeld. Will revisit soon.

[2018-08-28 20:32] louh opened #1139 "Considerations for updates to What's New dialog"
- Notification badge instead of auto popup?
- Remain accessible in menu even after it's been dismissed

[2018-09-08 19:35] #673 closed

[2018-09-15 23:11] jmelot commented on #1031
Hi, I was hoping to find a way to contribute and thought I might be able to start here. Took a look at SettingsMenu vs Share/Content/HelpMenu. So it sounds like these should just be updated so they are structured like SettingsMenu, with an unordered list inside Menu?

[2018-09-19 06:05] jmelot commented on #1031
Sounds good! Happy to iterate.

I can see what you mean about the structure of SettingsMenu being different from the other menus. It looks like the other menus are pretty similar at a high level, with most of the list items (with a few notable exceptions!) having the same appearance and structure, modulo their text, an optional icon, some optional additional styling, and their click handler. It se

[2018-09-19 21:27] louh commented on #1031
@jmelot This sounds like a good start! I will just add that SettingsMenu might fit into this proposed model if a list item could be another array of sub-list-items.

[2018-09-20 01:56] louh opened #1140 "Shorten tree and lamp labels"
As noted in [Transifex](https://www.transifex.com/streetmix/streetmix/translate/#de/segment-info/143888985), the labels for "Sidewalk with a tree" and "Sidewalk with a lamp" are unnecessarily long -- making them difficult to translate, and even in the source English, such elements are rarely legible. We should shorten this down to simply "Tree" and "Lamp", respectively, to match the current German

[2018-09-20 01:57] louh commented on #414
@malexmave You might be interested to know that German is now available on Streetmix!

[2018-09-21 00:09] louh opened #1142 "Deprecate mockIntl test object"

[2018-09-21 13:15] louh opened #1143 "Notification bar also moves palette delete "zone" downwards, making it more difficult to delete segments"

[2018-09-22 15:31] louh commented on #1015
We're working in this direction but there's few concrete todos here so it's also hard to gauge when this is "done." Closing in advance.

[2018-09-22 15:31] #1015 closed

[2018-09-22 15:32] #961 closed

[2018-09-22 20:26] mwichary opened #1144 "When I undo and redo, sometimes I see animations."
Here’s an example:
![sep-22-2018 13-25-02](https://user-images.githubusercontent.com/2061609/45921464-08031d00-be6b-11e8-9500-9d2d4be5adce.gif)

I feel like that’s confusing and it didn’t use to happen before.

(I think there’s a way to do nice animated undo/redo, and that could be really cool, but it requires a bit more design thinking before?)

[2018-09-22 20:29] mwichary opened #1145 "The perspective animations seem broken now."
Something feels broken altogether. The perspective animations on pop-up menus feel okay, but the animations when you swap or remove items seem off. I feel the perspective is no longer calculated from the screen scroll position, but something else? Sometimes I see a flat perspective when next to the end, sometimes the perspective is really extreme and doesn’t feel all that nice.

I’m on a 1280px Ch

[2018-09-22 21:09] louh commented on #1144
Yep - not supposed to happen. It's a side effect of the way React keeps track of an array of elements. We had a workaround in place to make the animation (or lack-thereof) work out, but clearly we're missing a case (or something broke it).

[2018-09-22 22:30] louh commented on #754
Here's what I currently have in the works:

![screenshot_2018-09-22 unnamed st remix streetmix](https://user-images.githubusercontent.com/2553268/45922100-1e23d400-be91-11e8-846a-5af0f1e1a1cc.png)

- I'm keeping the "flat" hierarchy, that is, it's not ordered by role or rank (most lists will be ordered alphabetically by given name)
- What I'm showing here is mostly the same structure we adopted in

[2018-09-24 03:05] louh commented on #1084
I've been playing with [Parcel](https://github.com/parcel-bundler/parcel), which requires less configuration, appears to be super fast, and does support TypeScript and even hot-module reloading. Thoughts on trying this? It might be easier to implement than Webpack is, actually.

[2018-09-24 20:13] louh commented on #1144
Fixed in the linked PR, thanks @mkong0216 !

[2018-09-24 20:13] #1144 closed

[2018-09-28 03:16] louh commented on #1050
Closing due to probably not doing anything about this.

[2018-09-28 03:16] #1050 closed

[2018-09-29 23:46] louh commented on #1011
This seems like less of a priority now.

[2018-09-29 23:46] #1011 closed

[2018-09-29 23:47] #1010 closed

[2018-09-30 17:00] #1142 closed

[2018-10-02 21:10] louh opened #1152 "We don't need moment.js"
Background: https://github.com/you-dont-need/You-Dont-Need-Momentjs

Situation: we only use the `moment` package once, here: https://github.com/streetmix/streetmix/blob/443488beeeaf00196deb57cca34567e487de9f83/assets/scripts/app/DateTimeRelative.jsx#L10-L12

In other words, we import a 300kb+ library to do a single subtraction.

In the past we have depended on `moment.js` for date/time formatting,

[2018-10-03 21:53] #914 closed

[2018-10-09 16:18] louh opened #1155 "Falsy env vars inserted by parceljs is converted to strings"
(This is the expected behavior of environment variables, but now we need a new way to parse `true`, `false`, `null`, or `undefined`.)

[2018-10-10 00:31] mkong0216 commented on #874
@louh Question, if no flags exist under the User's entry (which is all users at the start), should we initialize the default flags in the backend to send to the front end or allow the front end to initialize them in the store and then save it to the back end? I'm asking because I know we have a `FEATURE_FLAGS` constant which is being used to store the initial values in Redux but I'm wondering if w

[2018-10-10 01:29] louh commented on #1155
Resolved in ca1067e6acbd23299ce1dd62219019b32f2bd1cd

[2018-10-10 01:29] #1155 closed

[2018-10-10 17:01] mkong0216 commented on #874
@louh Just for clarification, so the feature flags we are saving to the User entry are only the user overrides of the default flag values, not all the flags and it's only in the GET response that we are combining the default and the user overrides to send to the front-end.

[2018-10-10 17:59] louh commented on #874
@mkong0216  That's it!

[2018-10-10 20:09] tordans opened #1156 "Allow creating a street via URL parameter"
Right now, there seems to be no programmatic way to create a street. This limits the integration into other services.

Example:
The URL `https://streetmix.net/create/sidewalk,1.8/streetlight,0.6/car,2.6/and-so-on` could create this street https://streetmix.net/-/760252

Such an "UI" would allow other services to integrate with Streetmix. For example the community could build a OpenStreetMap (OSM)

[2018-10-10 23:26] louh opened #1157 "Update street schema on the back-end"
Following up from #1105.

[2018-10-11 18:52] louh commented on #1048
#1159 introduced a fix that makes this additional install step unnecessary.

[2018-10-11 18:52] louh commented on #1110
#1159 introduced a fix that makes these additional dependencies unnecessary.

[2018-10-11 18:53] #1110 closed

[2018-10-11 19:30] #1152 closed

[2018-10-11 20:58] louh commented on #1152
For future reference: although the library itself was about 300kb, it doesn't take up that much room after minification and gzipping. That being said, we did remove this dependency. (It turns out it was used for more than just subtraction, but even the comparison functionality could be done cheaply with native methods.) In production, we've removed about 20kb of code.

[2018-10-18 19:59] louh opened #1162 "Drag handles need better contrast"
They're too light as it is -- and when projected to screens/monitors they are close to invisible.

[2018-10-24 14:43] mkong0216 commented on #874
- [x] Store the user overrides to Redux store if any (session flags should override user flags).
- [x] Write test for storing user overrides to Redux store.
- [ ] Feature flag dialog should only be seen when not in production mode or user is admin.
- [ ] Determine some permissions method for the user that gives them the ability to change flags on behalf of other users.

Updated list of TODOs for u

[2018-10-27 15:35] tordans opened #1165 "Calculate and display hourly capacity of street"
I really like the idea displayed in the image from  https://twitter.com/urbanthoughts11/status/1055182932392972290
<img src="https://pbs.twimg.com/media/DTrJ0lrX4AY9-6r.jpg">

Streetmix could provide a calculation in a very similar way as displayed above.

[2018-11-10 10:27] louh opened #1167 "Linking to streets in social media should show thumbnail of street"
Test with: https://metatags.io/

[2018-11-13 18:02] louh commented on #785
Done with the migration to Parcel as our build process.

[2018-11-13 18:02] #785 closed

[2018-11-13 18:03] louh commented on #711
No longer needed now that we are using Parcel.

[2018-11-13 18:03] #711 closed

[2018-11-13 18:29] louh commented on #900
We've updated the UI so that this is no longer a concern.

[2018-11-13 18:29] #900 closed

[2018-11-13 18:30] #871 closed

[2018-11-13 18:30] louh commented on #807
Done!

[2018-11-13 18:30] #807 closed

[2018-11-13 18:32] louh commented on #617
This is removed in 8b7c216dea8359ebf7f6c7b983b8764bf0a060e7.

[2018-11-13 18:32] #617 closed

[2018-11-13 19:59] louh opened #1168 "Add a trash can icon to the InfoBubble's "Remove" button."
Following up from #1078, in which we implemented [Font Awesome](https://fontawesome.com/) icons in the app, where we briefly discussed the potential of replacing the InfoBubble component's [Remove button](https://github.com/streetmix/streetmix/blob/443488beeeaf00196deb57cca34567e487de9f83/assets/scripts/info_bubble/RemoveButton.jsx) text label with a trash can icon.

Here is a screenshot of the In

[2018-11-13 20:03] johndierks commented on #1168
Great. I will grab this. Thanks @louh.

[2018-11-24 23:58] #1168 closed

[2018-11-25 00:19] louh opened #1172 "Use explicit imports for FontAwesome icon library."
When importing FontAwesome icons, they normally recommend adding icons into a `library` ([as we do, here](https://github.com/streetmix/streetmix/blob/master/assets/scripts/ui/icons.js)), and then when the `<FontAwesomeIcon />` component is called, it "magically" knows how to find the correct icon from the library:

[code]

Frankly, this is a bit too magic for me, as the `<FontAwesomeIcon />` needs

[2018-11-25 15:43] louh opened #1173 "Convert the `injectIntl` HOC to `useIntl` hook when possible"
## Background

We use the [React Intl](https://github.com/yahoo/react-intl) library to replace English text strings in Streetmix with their translated equivalents in other languages. This library provides a collection of React components to do this:

[code]

While this is great for text nodes, we must also be able to replace strings that exist as attributes of other HTML elements.

[code]

React I

[2018-12-17 20:25] louh opened #1175 "Use “object shorthand” form of mapDispatchToProps"
In React Redux, it is possible to define `mapDispatchToProps` as an object, rather than as a function.

The function form is longer, and there are two similar patterns for doing this:

[code]

Neither is actually necessary, as React Redux [supports a much more streamlined way of doing this](https://react-redux.js.org/using-react-redux/connect-mapdispatch#defining-mapdispatchtoprops-as-an-object),

[2018-12-17 22:04] louh opened #1176 "Move component-level CSS to live alongside JS"
As an effect of Streetmix’s legacy code base, CSS files and JavaScript files live in separate folders:

[code]

Modern React apps encourage CSS to live alongside their accompanying JavaScript modules because of its component-based architecture:

[code]

CSS is then imported directly by the module:

[code]

This is supported by many modern bundlers, including Parcel, which we currently use.

One th

[2018-12-17 22:05] louh commented on #1176
This was recently “prototyped” in this commit: https://github.com/streetmix/streetmix/commit/9c08254461dbc17b2fe71614e023db85b2439553 with the new Minecraft dialog.

[2018-12-17 22:55] louh opened #1177 "Consider monorepo organization"
We moved back-end and front-end to the same repository, but now they share package.jsons – which has become unwieldy over time, particularly as many dependencies still remain exclusively back-end or front-end. At the same time, combining the repos into one create a dangerous situation where it’s too easy to tightly integrate front end and back end in ways that make it harder to separate later, sho

[2018-12-17 22:58] louh commented on #1177
One effect of this is we might move icons and illustrations back into the project as modules of the monorepo, as opposed to separate repositories, as right now updating those assets require separate commits to those repos.

[2019-01-03 04:32] louh commented on #1122
1. For units, I’m going to use the م character, which is the same thing that the [USDM tool](https://usdm.upc.gov.ae/USDM/) does. This is placed left of the number.
2. I’ll remove the `direction: ltr` from the `.non-variant > input` elements; it seems to do the trick.
3. This ends up fixing itself when combined with above and with the translated text

[2019-01-03 04:47] #1122 closed

[2019-01-10 16:15] louh opened #1183 "Expire old login tokens"
Old login tokens are stored in a user's database entry for a long time (forever)? There's no expiration on them, and this is bad for security. We need to figure out some way to expire old tokens. (It's possible a solution for this may need to be done after migrating to Postgres so we don't have to address this twice.)

[2019-01-10 16:57] louh opened #1184 "Revise cloud images for better gradient blending"
- Lower clouds should blend seamlessly into original background color
- Remove custom lower border on lower clouds
- Update cloud positioning calculations
- Remove `content-box` "legacy" box model on clouds

[2019-01-13 14:58] ankitkataria commented on #1176
Hey @louh! I'm a first time contributor. I tried for a GSOC in the organisation last year and would love to contribute and try again this year. Can I start working on this issue? :smile:

[2019-01-13 15:05] louh commented on #1176
Hi again @ankitkataria! The best way to contribute to this issue is with small-batch pull requests, addressing one or a couple of components at a time, so that we can verify that each migration is working successfully. Also, because there's a lot of components, we want to be able to coordinate between different people who might be tackling different parts of this same issue.

One thing I should no

[2019-01-13 15:09] ankitkataria commented on #1176
Great @louh! Thanks about clearing your stand on the participation in GSoC :smile:
I'll still to try to tackle this issue in my free time. Thanks for the slack invite too!

[2019-01-17 16:41] louh opened #1188 "Rewrite geo search component."
(In-depth write-up to follow.)

## Summary

- Use [downshift](https://github.com/paypal/downshift) to create dropdown-search functionality, replacing the current library (`react-autosuggest`). This is because `react-autosuggest` (like many other similar dropdown libraries) tie business logic too closely to rendering, meaning that upgrades that change DOM or class names can potentially break layout

[2019-01-17 20:20] louh commented on #1184
New clouds added in #1187.

### Punch list

- [ ] Fix skybox "lifting" off of the horizon line on very tall monitors
- [ ] Remove "legacy" box-model on clouds
- [ ] Move `SkyBackground` component to `./streets` directory, because the concept of "sky" and "environment" is now a per-street setting, and not global to the entire app.
- [ ] We need to work out a way to draw background images (partially

[2019-01-29 14:14] mkong0216 opened #1201 "Palette Trashcan's height does not cover entire palette"
![screen shot 2019-01-29 at 9 08 49 am](https://user-images.githubusercontent.com/17012261/51913921-a79a6400-23a5-11e9-9c5a-b3807ce88d08.png)

This is something I noticed recently but I'm not sure whether this has been like this for a while or it was introduced recently but it looks like when the palette trashcan is visible, it does not cover/hide the entire palette. There are some magic numbers i

[2019-01-29 22:34] louh commented on #1201
Looks like a recent regression 😕

[2019-01-30 01:20] #1201 closed

[2019-01-30 01:22] louh commented on #1201
My guess is it was introduced when I switched the global `box-sizing` CSS property to `border-box`. (This is not default browser behavior, but many sites "reset" it to the `border-box` value so that width and height values in CSS behave more intuitively.) This also means that setting a height for the palette should be "simpler" and so I'm able to remove most of the magic numbers.

[2019-02-05 06:23] louh opened #1203 "Exported image watermark"
1. Add "Created with Streetmix" watermark to lower right of saved images
2. Add Creative Commons notice?
3. Make this toggleable
4. Add this to printed pages, too.

[2019-02-07 05:47] tordans commented on #1165
@louh perfect. Where does the data that those graphs are based on, come from? Is there a formula or source url?

[2019-02-07 17:50] louh commented on #1165
Got it from here: https://twitter.com/BrentToderian/status/953085021744611328

[2019-02-09 16:47] tordans commented on #1165
(Thanks, louh, for the link!)

Another example of this story at https://twitter.com/urbanthoughts11/status/1063171575070056449
Less of an info graphic, but the same idea.

<img width="572" alt="bildschirmfoto 2019-02-09 um 17 46 27" src="https://user-images.githubusercontent.com/111561/52523527-b846b600-2c92-11e9-8d60-b72a9048d2d2.png">

[2019-02-10 14:46] louh opened #1206 "Status message refactor"

[2019-02-10 14:47] louh opened #1207 "Make keyboard key a standalone UI component"

[2019-02-10 19:04] louh commented on #1176
We are moving ahead with resolving this issue in PR #1208.

cc @ankitkataria

[2019-02-10 19:05] #1176 closed

[2019-02-12 11:15] louh commented on #1207
Resolved in #1209

[2019-02-12 11:15] #1207 closed

[2019-02-13 14:05] louh opened #1210 "Image building backend service"
[Top-level issue for project #7](https://github.com/streetmix/streetmix/projects/7)!

Currently, we have code on the front-end that can build a PNG out of segment images to export a street image. We would like this image building service to exist on the back-end as well, which allows us to:

- Generate images on-request via an API, without user interaction
- Create preview thumbnails for social me

[2019-02-21 04:44] ganeshpatro321 commented on #1206
Hello @louh, I would like to take up this issue, can you please describe which status message are we talking about, I have read the contributing guidelines and have setup the code.

[2019-02-21 05:56] ganeshpatro321 commented on #1175
Hello @louh, Is this issue is been solved, I wanted to work on this issue if the work is not been done.

[2019-02-21 07:12] ganeshpatro321 opened #1214 "Investigate Babel plugin collision in react-dnd backends"
![error](https://user-images.githubusercontent.com/30416891/53150254-25811200-35d6-11e9-9939-c89a09680e56.png)

[2019-02-25 17:58] mkong0216 opened #1215 "ShareMenu not opening?"
This is true for both the production and development environment, but I'm not sure if it's just for me? When I attempt to open the "Share" tab, it doesn't open. I pinpointed the problem to the addition of the classname "share-menu" to the ShareMenu's `<Menu />` component found [here](https://github.com/streetmix/streetmix/blob/master/assets/scripts/menus/ShareMenu.jsx#L170). If the classname "shar

[2019-02-26 11:53] louh commented on #1215
I can't duplicate the problem on my end. Did this just happen recently for you?

[2019-02-26 11:54] louh commented on #1206
Hi @ganeshpatro321, this is a much bigger project and I haven't had a chance to fully describe it yet. If you are interested, please join our [Discord](https://discord.gg/NsKmV3S) and let's chat about this.

[2019-02-26 11:56] louh commented on #1175
@ganeshpatro321 Welcome! This issue is currently assigned to @justinlevinson, and I will let him decide whether he needs help.

[2019-02-26 14:50] mkong0216 commented on #1215
Oh strange. I've only interacted with it recently due to working on the street thumbnail so I'm not quite sure.

[2019-02-26 15:01] ganeshpatro321 commented on #1206
@louh Okay, I have joined the group.

 Thank you.

[2019-02-27 14:19] louh opened #1217 "Refactor away the _lastStreet variable in data_model.js."

[2019-02-27 14:23] louh opened #1218 "Move street saving to action creators instead of manually calling save function"

[2019-02-27 19:47] mkong0216 commented on #1215
@louh I'm going to close this issue now since it ended up being a bug specific to me. Is that okay?

[2019-02-27 21:49] louh commented on #1215
Right - please close it!

[2019-02-27 21:52] #1215 closed

[2019-03-04 20:06] mclaeysb opened #1221 "Add "living street" / "shared space" segment option"
'Living streets' and other implementations of 'shared space' are quite common around the world. And they are common in many new street redesigns.

See the OpenStreetMap tag explanation [page]("https://wiki.openstreetmap.org/wiki/Tag:highway%3Dliving_street") on Living streets for more info.

The bus+cycling could be seen as one example of a shared space, but I'm rather considering examples such as

[2019-03-06 21:05] louh commented on #1214
@ganeshpatro321 Not sure why this happens, but you might be able to temporarily work around it. In the file `.babelrc`, change [this line](https://github.com/streetmix/streetmix/blob/master/.babelrc#L8) to be:

[code]

This will give our plugin a different name so it stops colliding with the one used in `react-dnd-touch-backend`. Give this a try. If this works, please make sure you do not commit t

[2019-03-06 21:07] louh opened #1224 "Newer API endpoints should return JSON errors instead of string errors."
Some of our newer API endpoints (e.g. [`/api/v1/flags`](https://github.com/streetmix/streetmix/blob/master/app/resources/v1/flags.js#L17), [`/api/v1/translate`](https://github.com/streetmix/streetmix/blob/master/app/resources/v1/translate.js#L20), [`/services/geoip`](https://github.com/streetmix/streetmix/blob/master/app/resources/services/geoip.js#L23) will send JSON payloads for errors instead o

[2019-03-06 21:07] louh opened #1225 "Metatags should return original URL as canonical URL instead of just base domain"
Currently, the meta tags for all pages [sets the Canonical URL meta tag to `https://streetmix.net`](https://github.com/streetmix/streetmix/blob/master/app/views/main.hbs#L14). This means URLs with different contents, like `https://streetmix.net/saikofish/313/lafayette-ave` or `https://streetmix.net/saikofish/314/east-broadway` (two different streets) will "look" the same to some social networks an

[2019-03-07 15:29] louh opened #1226 "Image post success should respond with Cloudinary results"
This line should not return a string but instead an object. https://github.com/streetmix/streetmix/blob/master/app/resources/v1/street_images.js#L83

It could be the Cloudinary response object, but first inspect it to make sure we don't leak any sensitive info

[2019-03-07 15:37] louh commented on #1225
Also don't forget about anonymous streets and how to show that in the `${username}`

[2019-03-07 15:42] louh commented on #1225
Also add `<link rel="canonical >` https://en.wikipedia.org/wiki/Canonical_link_element

[2019-03-07 15:43] louh commented on #1225
Social media card validators
- Facebook: https://developers.facebook.com/tools/debug/sharing/
- Twitter: https://cards-dev.twitter.com/validator

[2019-03-07 16:12] louh opened #1228 "When remixing someone else's street, the resulting street URL has the wrong namespaced ID"

[2019-03-07 16:28] louh opened #1229 "How can we create thumbnails for streets when the original owner is not looking at it?"
e.g. anonymous streets, or if I wanted to tweet out someone else's street (but they haven't looked it themselves in a long time).

- answer: anyone can create a thumbnail if it doesn't already exist in Cloudinary

[2019-03-08 12:20] #1228 closed

[2019-03-08 19:44] mkong0216 commented on #1224
@louh With regards to returning json errors instead of strings. Looks like in some APIs, the error JSON object returned is in the shape of `{ status, msg }` such as the APIs you listed as examples, but in other APIs, the error JSON object returned is in the shape of `{ status, error }` such as for `/services/geoip`. Should the error message be called `msg` or `error`?

[2019-03-11 21:23] louh commented on #1224
Oh yeah -- we should standardize this, actually. I prefer `msg` (or `message`) personally, as the intent is to say something helpful. It might not always be an error message.

[2019-03-11 21:27] #1225 closed

[2019-03-11 21:40] mkong0216 opened #1234 "Facebook media card validator returns error/warning"
The following error is returned by the [facebook media card validator](https://developers.facebook.com/tools/debug/sharing/) but does not affect the social media thumbnail from being displayed: "The following required properties are missing: fb:app_id"

[2019-03-12 12:44] louh commented on #1234
It looks like we do have Facebook App IDs for each environment: https://github.com/streetmix/streetmix/search?q=facebook_app_id&unscoped_q=facebook_app_id

They're used for Facebook's "share" functionality but not injected as a meta tag. Which should be fairly easy to add.

I am also considering moving the app id to `.env` variables ...

[2019-03-12 13:35] mkong0216 commented on #1226
@louh Regarding the Cloudinary response object, it looks like the response object is in the following shape:
[code]

The Cloudinary response includes the signature but since the signature is based on the timestamp of the upload, the signature will change for each upload. Do you think we should return the Cloudinary results without removing anything or should we remove unnecessary information?

I w

[2019-03-12 14:02] louh commented on #1226
I think that's great! We can always add more properties if we need to.

[2019-03-12 21:48] #1234 closed

[2019-03-13 17:14] #1226 closed

[2019-03-14 21:00] #1224 closed

[2019-03-19 04:16] #1203 closed

[2019-03-20 20:58] louh opened #1244 "Make "Changes may not be saved" dialog less greedy"

[2019-03-27 21:03] #1172 closed

[2019-03-27 21:51] louh opened #1251 "Consider replacing homegrown keypress manager with Mousetrap"
More info: https://craig.is/killing/mice

[2019-04-11 16:16] louh opened #1257 "Update segment definitions data model"
Segments are currently defined by two variables: its "type" and its "variant" (labeled as `variantString` in the street data schema), for instance, a bike lane would be defined as such:

[code]

Because each "variant" is defined as a concatenated string of identifiers, the amount of definitions we need to create in our [segment definitions file](https://github.com/streetmix/streetmix/blob/master/a

[2019-04-12 16:26] louh commented on #1251
Alternatively: https://usehooks.com/useKeyPress/

[2019-04-15 21:03] ConSou commented on #1251
Hello, is this issue still up for grabs?  If so I'd like to try and help with it.  Where is the current code for the keypress manager located?

[2019-04-17 23:23] louh commented on #1251
Hey @ConSou, the keypress manager code is here: https://github.com/streetmix/streetmix/blob/master/assets/scripts/app/keypress.js

I have a branch where I've dropped in Mousetrap as a replacement, but it has an issue where multiple callbacks cannot be bound to the same key combination (not without some plugin to the original code). While that might be the approach we need to take to use Mousetrap,

[2019-04-25 14:28] louh commented on #1257
Notes & considerations

- What to do when variants have a matrix of output images
- How to handle image offsets
- How to handle lane markings?

[2019-04-27 12:57] louh opened #1263 "Replace geo search box with downshift-pelias library"
https://github.com/louh/downshift-pelias
(Experimental!)

[2019-04-27 16:10] #1093 closed

[2019-04-27 16:11] #1039 closed

[2019-04-27 16:14] louh commented on #874
This has been done! We'll move this discussion to the admin repo:

[2019-04-27 16:14] #874 closed

[2019-04-27 16:21] louh commented on #1263
Duplicate of #1188.

[2019-04-27 16:21] #1263 closed

[2019-04-27 16:21] louh commented on #1188
Update: https://github.com/louh/downshift-pelias

[2019-04-27 17:23] louh commented on #733
After some investigation on this, converting accented characters to unaccented seems to be a fairly straightforward thing to do. I'm

[2019-04-27 17:54] #733 closed

[2019-04-30 13:18] louh opened #1267 "Move from simple fetch to use something like Axios & Mock the server"

[2019-04-30 16:39] louh opened #1268 "Segment removal bugs"
I merged #1242 because it looked fine conceptually, but ran into a few bugs in practice. I've rolled back the production for now and disabled deploys until we can fix this. The segment removal is broken in a few instances:

1. When pressing backspace while hovering over a segment to remove it, the segments no longer re-align into the center. In addition, reloading the page shows that the segment i

[2019-04-30 16:48] milafrerichs commented on #1268
@louh sure no problem. sorry about that.

[2019-05-02 14:46] louh opened #1269 "Running Streetmix locally shows 'Cannot find module 'core-js/modules/es6.array.copy-within' error"
This sometimes happens when someone runs Streetmix locally:

`core-js` is a library of JavaScript API polyfills. It is a dependency of Babel. Babel uses it to polyfill features of JavaScript that doesn't exist on target browsers when it compiles.

When this message is shown, that means Streetmix, or a dependency of Streetmix, is using the `Array.prototype.copyWithin()`. Babel attempts to polyfill

[2019-05-02 15:50] louh commented on #1269
Currently, `package-lock.json` is up-to-date. One possible cause of this error message is if `node_modules` is installed with `yarn` instead of `npm`. Make sure the app is installed with `npm install`, do not use `yarn`.

[2019-05-02 15:50] #1269 closed

[2019-05-02 16:10] louh commented on #1268
Fixed in #1270.

[2019-05-02 16:10] #1268 closed

[2019-05-03 16:20] mkong0216 opened #1272 "Cannot read property 'segmentBeforeEl' of null"
After removing all segments from a street, the first time you attempt to move a new segment into the street, the error below occurs. The second attempt, however, works.

![Screen Shot 2019-05-03 at 12 18 45 PM](https://user-images.githubusercontent.com/17012261/57150957-ab22fa00-6d9d-11e9-8790-b121f055ac0f.png)

[2019-05-07 13:43] louh commented on #1047
Since there can only be two kinds of units - metric and imperial, always assume that when there's no units provided, use metric. Right now, internally, `imperial` is assigned a value of `1` and `metric` is assigned a value of `2`. We can also change this so `metric` has a value of `0`. This way, lack of value = metric, and the current imperial units constant can be changed to `IS_IMPERIAL=1`.

[2019-05-07 16:17] louh commented on #1214
It seems that the `.babelrc` in the `react-dnd-touch-backend` package is causing the problem. Upstream, the package author should be removing `.babelrc` from the distributed package because the distributed module is already compiled.

@milafrerichs If you remove the `.babelrc` file from the package (yes, that means editing `node_modules` for now), and remove the workaround we discussed earlier, do

[2019-05-07 18:15] louh commented on #1214
I checked with Babel maintainers, and this appears to be a Parcel issue. There's a long conversation here: https://github.com/parcel-bundler/parcel/issues/13 -- reading through now to see if we have options.

[2019-05-07 18:47] louh commented on #1214
It seems if we even just comment out the plugin`@babel/plugin-proposal-object-rest-spread` from `react-dnd-touch-backend`'s Babel config, the error goes away. Perhaps it's a duplicate because it's already installed with `@babel/preset-env`? (This gives me potentially other vectors for working around the issue, but the problem remains that altering node_modules after installing is smelly.)

[2019-05-08 23:30] louh commented on #1214
As I've noted in #1278, we need to keep `react-dnd-touch-backend` locked to version `0.5.1` to prevent this build error. All other `react-dnd-*` packages in the ecosystem can be safely upgraded.

[2019-05-09 01:07] louh opened #1280 ""getDecoratedComponentInstance is not a function" bug"
https://sentry.io/share/issue/5fdf2cc7283140f289e50e1b3e7f519e/

[2019-05-09 01:52] louh commented on #1280
Fixed with 509fa12db80d04528b6aae7e03827a4f8ae5f904

[2019-05-09 01:52] #1280 closed

[2019-05-09 17:59] #1272 closed

[2019-05-15 22:32] louh commented on #1167
Done by @mkong0216 via lots of related PRs, e.g. #1204, #1211, #1247, #1253, #1260.

[2019-05-15 22:32] #1167 closed

[2019-05-15 22:36] louh opened #1297 "Resize drag resolution is larger than it's supposed to be"

[2019-05-17 16:36] #1188 closed

[2019-05-22 15:58] louh opened #1316 "Tabbing causes screen to jump into an awkward position"
Pressing `tab` continuously will eventually draw focus to an off-screen "close" button attached to the "no internet connection" message, which offsets the screen into an awkward position (and there's no way to scroll back, except to press `tab` more until another off-screen element comes into focus.

This was more noticeable when there are form elements on screen, but can happen at any time.

[2019-05-22 22:30] louh commented on #793
This will be resolved by creating a dialog that's accessed via the Contact menu — we will not disrupt the UI with a popup. I'm also implementing this in the easiest possible way, by adopting Mailchimp's default "classic" sign up UI. We can make this nicer, but thinking too hard about things is the reason why we didn't do a sign up form for over a year in the first place.